<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>子弹小游戏</title>
		
		<link href="__PUBLIC__/CSS/game.css" type="text/css" rel="stylesheet" />
		<script type="text/javascript" src="__PUBLIC__/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="__PUBLIC__/JS/Game.js"></script>
	</head>
	<body>
		<div class="game" id="gam">
			<canvas id="can" width="100px" height="100px">
				123
			</canvas>
		</div>
		<div class="shuoming">
			<input id="but" type="button" onclick="init()" value="开始游戏">
			<div class="history">
				<label>历史最高记录 : </label>
				<input type="button" name="history" id="history" value="0s" disabled="disabled"/>
				<input type="button" class="cls" onclick="clear_his()" value="清空历史记录"/>
			</div>
		</div>
	</body>
</html>
