.wapper{
    position: relative;   
    height: 140px;          
    margin:0 auto;
    
}
.main-content{
   padding-bottom: 60px;
   text-align: center;
}
.guide {
   /*border-top: 1px solid #E1E1E1;*/
   background-color: #F5F5F5;
   text-align: center;
}
.guide a {
	color: #777;
    font-size: 16px;
}
.guide dt {
	color: #333;
    font-size: 18px;
}
dl.fore1 {
	position: absolute;
    left: 25px	
}
dl.fore2 {
	position: absolute;
    left: 225px	
}
dl.fore3 {
	position: absolute;
    left: 425px	
}
dl.fore4 {
	position: absolute;
    left: 625px	
}
dl.fore5 {
	position: absolute;
    left: 825px	
}




/*.guide dl 
{ 
    width: 350px; 
    font-size: 9pt; 
    line-height: 1.5em; 
    position:relative; 
    margin: 0px; 
    padding: 0px; 
    left:15px; 
}*/