.wapper{
    position: relative;   
    height: 140px;          
    margin:0 auto;
    
}
.main-content{
   padding-bottom: 60px;
   text-align: center;
}
.box {
	margin:0px auto;
	border: 0px solid;
	width: 990px;
	height: 180px;

}
.wapper a {
	color: #777;
    font-size: 16px;
}
.wapper dt {
	color: #333;
    font-size: 18px;
    text-align: center;
}
dl.fore1 {
	position: absolute;
    text-align: left;
    left: 25px	
}
dl.fore2 {
	position: absolute;
    text-align: left;
    left: 225px	
}
dl.fore3 {
	position: absolute;
    text-align: left;
    left: 425px	
}
dl.fore4 {
	position: absolute;
    text-align: left;
    left: 625px	
}
dl.fore5 {
	position: absolute;
    text-align: left;
    left: 825px	
}




/*.guide dl 
{ 
    width: 350px; 
    font-size: 9pt; 
    line-height: 1.5em; 
    position:relative; 
    margin: 0px; 
    padding: 0px; 
    left:15px; 
}*/