@charset "UTF-8";


.nav{
	margin: 0 auto;
	width: 990px;
}
.sm-item-list {
	margin-top: 10px;
	overflow: hidden;
	position: relative;
	width: 990px;
	margin:0 auto;
	border-bottom: 2px solid #0dc3ce;

}
.market-wrap {
	/*width: 990px;*/
	margin: 0 auto;
	text-align: center;
}
.marketicon{
	background: url(../img/marketicon.png) no-repeat;
}

 .main-list {
	float: left;
	height: 35px;
	margin-right: 28px;
	position: relative;
	/*white-space: nowrap;*/
	
}
.main-list li {
	float: left;
	height: 35px;

	display: block;
	position: relative;
	z-index: 1;
}
.main-list li :hover {
	background: #0dc3ce;
}
.sm-item-list a {
	display: inline-block;
	zoom: 1;
	height: 35px;

	font: bold 14px/35px "\5b8b\4f53";
	padding: 0 15px;
	color: #404040;
	position: relative;
}


.sm-item-list .menu-button {
	
	height: 35px;
	line-height: 34px;
	overflow: hidden;
	float: right;
	background: #fff;
	z-index: 100;
}
.menu-button li :hover{
	background: #0dc3ce;
}
 .sm-cat-list {
	width: 990px;
	margin-top: -2px;

}
.fix-box {
	background-color: #0dc3ce;
	/*height: 90px;*/
}
/*--浮动层自动适应高度---*/
.fix-box:after { 
	content:"."; 
	display:block; 
	clear:both; 
	height:0; 
	font-size:0; 
	line-height:0; 
} 
/*--END浮动层自动适应高度---*/
 .cat{
	float: left;
	width: 154px;
	padding-left: 10px;
	height: 100px;
	padding-bottom: 11px;
	padding-top: 6px;
	border-right: 1px solid #fff;
	background-color: #0dc3ce;
}
.cat-title{
	float: left;
	margin-right: 5px;
	margin-left: -5px;
	padding: 0 5px;
	height: 24px;
	display: block;
	position: relative;
	border-radius: 2px;
	color: #fff;
}
.cat-title a{
	color: #fff;
	font-size: 12px;
	float: left;
	display: block;
	white-space:nowrap;
}
.cat-head{
	width: 154px;
	font-size: 12px;
	font-weight: bold;
	line-height: 2;
	margin-bottom: 5px;
}
.cat-head a{
	color:#fff; 

}

.cat-title a:hover{
	background-color: #fff;
	color: #000;
}
.w{
	width: 990px;
	margin: 0 auto;
}
.bannerT{
	font-size: 18px;
	line-height: 30px;
	height: 30px;
	font-family: "幼圆";
}
.banner{
	width: 990px;
	margin: 30px auto;
	margin-bottom:0px; 

}
.row-2{
	position: relative;
	float: left;
	border: 1px solid #e0e0e0;
}
.row-1{
	border: 1px solid #e0e0e0;
}

.tab-nav{
	height: 37px;
	line-height: 37px;
	background: #f3f3f3;
	font-size: 14px;
}
.tab-nav li {
	width: 122px;
	text-align: center;
	cursor: pointer;
	float: left;
}
.tab-item{

}
.spu-list {
	height: 485px;
	border: 1px solid #e0e0e0;
	display: none;
}

.floor-type {
	padding-top: 17px;
	padding-bottom: 19px;
}
.floor-type .item-wrap {
	width: 164px;
	float: left;
	border-bottom: 1px dotted #e8e8e8;
	/*height: 215px;*/
	overflow: hidden;
}
.item-middle-image .img-wrap {
	width: 165px;
	/*height: 140px;*/
	line-height: 140px;
	/*padding: 10px 20px 5px;*/
	overflow: hidden;
	display: inline-block;
	text-align: center;
	margin: 0 auto;
}
.spu-list .title {
	color: #666;
	/*height: 32px;*/
	line-height: 16px;
	font-weight: normal;
	overflow: hidden;
	margin-top: 1px;
	margin-left: 10px;
}
.spu-list .price {
	color: #f40;
	/*font-size: 14px;*/
	font-family: Verdana;

	overflow: hidden;
	margin-left: 10px;
}
.current{
	background: #0dc3ce;
	color: #fff;
}
.selected{
background: #02b5c0;
}
body .mkcontent{
	width: 990px;
	margin: 0 auto;
	text-align: center;
}