.nav-bn2{
			width: 20px;
			height: 20px;
			background-position: -65px 0px;
			background-image: url(../img/A_2.png);
			background-repeat: no-repeat;
			z-index: 50;
			position: absolute;
			top:12px;
			left: 180px;
			float: right;
		}
		.nav-bn1{
			width: 20px;
			height: 20px;
			background-position: -65px -25px;
			background-image: url(../img/A_2.png);
			background-repeat: no-repeat;
			z-index: 150;
			position: absolute;
			left: 180px;
			top:12px;
			float: right;
		}
		a{
			color: black;
			text-decoration: none;
		}
		a:hover{
			color: red;
			text-decoration: none;
			
		}
		a:visited{
			
			text-decoration: none;
		}
		a:active{
			
			text-decoration: none;
		}
		.overWidth{
			position: relative;
			z-index: 500;
			height: 40px;
			background-color: #E4393C;
			margin: 0 auto;

		}

		/*--------JQ控制效果样式-----------------------------------------*/
		.hover{
			background-color: red;
			z-index: 50;
		}
		.bn-border{
			border-top: 1px solid #ff4400!important;
			border-left: 1px solid #ff4400!important;
									border-right: 1px solid #ff4400!important;
			border-bottom: none!important;

			z-index: 50;
		}
		.item-border{
			border-bottom: 1px solid #ff4400;
			border-left: 1px solid #ff4400;
			border-right: 1px solid #ff4400;
			margin-left: -2px;
			margin-top: -1px;
		}
		.borderBottom{
			border-bottom: 1px solid #ff4400!important;
		}
		.show{
			display: inline-block;
		}
		/*---LOGO、搜索栏、购物车样式---*/
		.logosearch{
			margin: 0px auto;
			width: 990px;
			height:100px;	
		}
		.logo{
			float: left;
			width:300px;
			height:100px;
			margin: 0 auto;
			text-align: center;
		}
		.logo img{
			margin-top: 20px;
		}
		.search{
			margin: 30px;
			float: left;
			}
		#searchtext{
			display: inline;
			height: 25px;
			width: 300px;
			border:2px solid #B61D1D;
			font-size:23px;
			float: left;
		}
		.search button{
			height: 31px;
			width: 80px;
			border:2px solid #B61D1D;
			background: #B61D1D;
			color: white;
			font-size: 17px;
			}

		.shopbar{
			width: 130px;
			float: left;
			margin-top: 30px;
			text-align: center;
			line-height: 38px;
			background-color: #F9F9F9;
			border:1px solid #DFDFDF;
			font-size: 14px;
		}
		.shopl{
			float: left;
			margin:10px;
			width: 18px;
			height: 18px;
			background: url(../img/jd2015img.png) 0 -58px no-repeat;
		}
		.shop a{
			padding: 0px;
			margin: 0px;
		}
		/*--------导航栏样式----------------------------*/
		.nav{
			width:990px;
			position: relative;
			line-height: 38px;
			height: auto;
			margin: 0 auto;
			font-size:  14px;
			font-weight: bolder;
		}
		.nav ul{
			list-style: none;
		}
		.nav ul li{
			list-style: none;
		}
		#categorys{
			/*margin-top:15px;*/
			height: 44px;

			
		}
		#categorys a{
			padding: 0 10px;
			
		}
		.dd{

			font-size:13px; 
			width: 800px;
			height: 375px;
			position: relative;
			display: none;
		}
		.dd-inner{
			z-index: 150;
			width: 210px;
			position: relative;
			
			background: #4a4a4a;

		}
		.dt{
			padding: 0 10px;
			height: 40px;
			line-height: 40px;
			width: 190px;
			background-color: #CD2A2C;
		}
		.dt a{
			color: white;
		}
		#navitems{
			margin: 0px;
			padding: 0px;
			position: relative;
			top:-44px;
			left:210px;
			background-color: #E4393C; 
			line-height: 40px;
			height: 40px;
			width: 780px;


		}
		#navitems a{	
			color: white;
		}
		#navitems li:hover{	
			background-color: #a40000;
		}
		#navitems li{
			display: inline-block;
			padding-left: 20px;
			padding-right: 20px;
			width: 85px;
			text-align: center;
			

		}

		.item{
			
			color: white;
			margin: 0px;
			padding: 0px;
			height: 33px;
			width: 210px;
		}
		.item a{
			color: white;
		}
		.item h3{
			font-weight: normal;
			margin: 0px;
			padding: 0px;
			line-height: 30px;
		}
		.dorpdown-layer{
			position: relative;
			top:-363px;
			left: 210px;
			/*height: 370px;*/
			display: none;
			margin: 0px;
			background:#FFF4E8;
			padding: 0px;
			width: 580px;
			border-right: 1px solid #ccc;
			border-bottom: 1px solid #ccc;
		}
		.dorpdown-layerin{
			display: inline-block;
			/*z-index: 50;*/
			height: 347px;
			
			margin: 0px;
			margin-top: 15px;
			padding: 0px;
			width: 580px;
		}
		.fore{
			display: inline-block;
			margin-top:5px;
			width: 580px;
			/*height: 53px;*/
		}

		.fore .dt1 {
			width: 110px;
			/*margin-top:-8px;*/
			text-align: right;
			float: left;
			display: inline-block;
			position: relative;

		}
		.fore .dt1 a{
			color: black;
			font-weight: bold;
			font-size: 15px;
			line-height: 15px;
		}
		.fore .dt1 a:hover{
			color: red;
		}
		.fore .dd1 {
			width: 455px;
			position: relative;
			display: inline-block;
			border-bottom: 1px solid black;
			/*padding-bottom: 7px ;*/
		}

		.fore .dd1 a{
			color: black;
			margin: 1px auto;
			font-size: 13px;
			border-left: 2px solid #eee;
			float: left;
			line-height: 16px;
			height: 16px;
			text-align: center;
			font-weight: normal;
			
		}
		.fore .dd1 a:hover{
			color: red;
			
		}