<extend name='./Public/tpl/index.html' />
<block name="head">
	<link rel="stylesheet" href="__PUBLIC__/CSS/gdinfo.css" />
<style>

		#add_sc {
			background: url('__PUBLIC__/img/good/icon_bg.png') no-repeat;
			background-position: left 0px top -23px;
			background-position-x: 0px\9;
			background-position-y: -23px\9;
			width: 119px;
			padding: 0px;
			height: 33px;
			display: inline-block;
		}
		#add_sc:hover {
			cursor: pointer;
			background-position: left 0px top -57px;
		}
		#buy {
			background: url('__PUBLIC__/img/good/icon_bg.png') no-repeat;
			background-position: left -92px top -536px;
			background-position-x: -92px\9;
			background-position-y: -536px\9;
			width: 81px;
			height: 33px;
			display: inline-block;
		}
		#buy:hover {
			cursor: pointer;
			background-position: left -92px top -570px;
			background-position-x: -92px\9;
			background-position-y: -570px\9;
		}
		#collect {
			background: url('__PUBLIC__/img/good/icon_bg.png') no-repeat;
			background-position: left 0px top -193px;
			background-position-x: 0px\9;
			background-position-y: -193px\9;
			width: 94px;
			height: 33px;
			display: inline-block;
			padding: 0px;
		}
		.mright .title span{
			background: url('__PUBLIC__/img/good/icon_shop.png') no-repeat;
			background-position: left 0px top -25px;
			background-position-x: 0px\9;
			background-position-y: -25px\9;
			/*background-position-x: 0px;
			background-position-y: -25px;*/
			width: 18px;
			height: 18px;
			display: inline-block;
			+display: inline;
			margin-right: 10px;
			position: relative;
			top: 3px;
			
		}
		.callme{
			background: url('__PUBLIC__/img/good/imicon07.png') no-repeat;
			background-position: left 0px top 0px;
			background-position-x: 0px\9;
			background-position-y: 0px\9;
			width: 82px;
			height: 22px;
			display: inline-block;
			+display: inline;
			margin-left: 30px;
		}
		.img_lshow .li_border{
			border: 2px solid chartreuse;
		}
		.img_tip{
			background: #000000;
			filter:alpha(opacity=50);
			-moz-opacity:0.5;
			-khtml-opacity: 0.5;
			opacity: 0.5;
			position: absolute;
			width: 348px;
			height: 100px;
			border: 1px solid #CCCCCC;
			top:253px;
			margin-left: 8px;
			left: 0px;
			*margin-left: -0.8px;
			color: #fff;
			text-align: center;
			display: none;
		}
		
		.img_tip span{
			margin-top: 40px;
			display: inline-block;
			height: 10px;
		}
</style>
<script>
$(function(){
	$('.li_lshow').mouseenter(function(){
		$(this).addClass('li_border');
	})
	$('.li_lshow').mouseleave(function(){
		$(this).removeClass('li_border');
	})
	
	//图片展示提示
	$('.img_bshow').mouseenter(function(){
		$('.img_tip').css('display','block');
		
	})
	$('.img_bshow').mouseleave(function(){
		
		$('.img_tip').css('display','none');
	})
	//在子元素中也可以
	$('.img_tip').mouseover(function(){
		$('.img_tip').css('display','block');
	})
	$('.img_tip').mouseleave(function(){
		
		$('.img_tip').css('display','none');
	})
	
	//点击小图，大图跳转
	$('.li_lshow').click(function(){

		$('.img_bshow').attr('src',"__PUBLIC__/img/good/"+$(this).attr('bimg'));
	})
	
	$('#add_sc').click(function(){
		$id=$(this).attr('value');
		$.ajax({
			type:"post",
			url:"{:U('Home/Shop/ajax_add')}",
			async:true,
			data:{
				id:$id
			},
			success:function(msg){
				
					alert(msg);
				
			}
		});
	})
	
		
})
</script>
</block>
<block name="body">
	<!--广告图片-->
	<div class="contain adv">
		<img src="__PUBLIC__/img/good/adv.jpg">
	</div>
	
	<!--页面主题-->
	<div class="contain cmain">
		<!--主体左边-->
		<div class="mleft">
			<div style="position: relative;">
				<img src="__PUBLIC__/img/good/{$goodinfo.good_bimg.1}" class="img_bshow">
				<div class="img_tip"><span>这个真的好</span></div>
			</div>
			<div>
				<ul class="img_lshow">
					<li class="li_lshow" bimg="{$goodinfo.good_bimg.1}">
						<img src="__PUBLIC__/img/good/{$goodinfo.good_limg.1}" height="54px">
					</li>
					<li class="li_lshow" bimg="{$goodinfo.good_bimg.2}">
						<img src="__PUBLIC__/img/good/{$goodinfo.good_limg.2}" height="54px">
					</li>
					<li class="li_lshow" bimg="{$goodinfo.good_bimg.3}">
						<img src="__PUBLIC__/img/good/{$goodinfo.good_limg.3}" height="54px">
					</li>
					<li class="li_lshow" bimg="{$goodinfo.good_bimg.4}">
						<img src="__PUBLIC__/img/good/{$goodinfo.good_limg.4}" height="54px">
					</li>
					<li class="li_lshow" bimg="{$goodinfo.good_bimg.5}">
						<img src="__PUBLIC__/img/good/{$goodinfo.good_limg.5}" height="54px">
					</li>
				</ul>
			</div>
			<div class="img_op"><span>人气4</span><span>分享到</span><span>查看大图</span>
			</div>
		</div>
		<!--主体中间-->
		<div class="mcenter">
			<p><strong>{$goodinfo.good_name}</strong>
			</p>
			<ul>
				<li>
					<label>5M价</label><span class="price">¥{$goodinfo.price}</span> </li>
				<li>
					<label>市场价</label><span class="oprice"><span >¥ {$goodinfo.oprice}</span>（节省了<?php echo $goodinfo[oprice]-$goodinfo[price]; ?> 元）</span>
				</li>
				<li>
					<label>促销</label><span class="youhui"><span>店铺VIP</span> 登录后确认是否享有此优惠</span>
				</li>
				<li>
					<label>评价</label>0条</li>
				<li>
					<label>颜色</label>黄 红 绿</li>
				<li>
					<label>尺寸</label>110cm 120cm 130cm 140cm</li>
				<li>
					<label>数量</label>1件</li>
				<li>
					<label>提示</label>{$goodinfo.msg}</li>
				<li>
					<a id="add_sc" value="{$goodinfo.good_id}"></a>
					<a id="buy"></a>
					<a id="collect"></a>
				</li>
			</ul>
		</div>
		<!--主体右边-->
		<div class="mright">
			<div class="title"><span></span><strong><a href="{:U('Home/Index/seller')}">玛吉卡童装旗舰店</a></strong></div>
			<div>店铺总分<span class="grade">4.89</span>分</div>
			<div>
				<ul class="save">
					<li><span>评分详细：</span></li>
					<li>描述相符：4.91</li>
					<li>服务态度：4.87</li>
					<li>发货速度：4.90</li>
				</ul>
			</div>
			<div>
				<ul class="keep">
					<li>正品保障</li>
					<li>货到付款</li>
					<li>7天无理由退货</li>
				</ul>
			</div>
			<div><span class="callme"></span></div>
			<div class="house"><span>进入店铺</span><span>收藏店铺</span></div>
		</div>
	</div>
	<!--页面下端-->
	<div class="contain main_b">
		
		<!--商品其他相关的-->
		<div class="bleft">
			
			<div class="msg_box">
				<p>在线客服</p>
				<ul>
					<li>在线客服</li>
					<li><span>工作时间</span></li>
					<li>周一至周日</li>
				</ul>
			</div>
			
			<div class="msg_box">
				<p>相关分类</p>
				<ul>
					<li>裙子</li>
					<li>套装</li>
					<li>内衣</li>
				</ul>
			</div>
			
			<div class="msg_box">
				<p>相关品牌</p>
				<ul>
					<li>米奇丁当</li>
					<li>苗飒</li>
					<li>小小妞</li>
				</ul>
			</div>

		</div>
		<!--商品详情-->
		<div class="bright">
			<span class="title chose">商品详情</span>
			<!--<span class="title">商品评论</span>
			<span class="title">商品问答</span>-->
			<div class="info">
				<!--商品文字详情-->
				<table>
					<tr>
						<td>品牌：马甲卡</td>
						<td>型号：52320071</td>
						<td>季节：夏</td>
					</tr>
					<tr>
						<td>材质：棉</td>
						<td>适用年龄：15岁以下</td>
						<td>品类：连衣裙</td>
					</tr>
					<tr>
						<td>领型：圆领</td>
						<td>厚度：薄款</td>
						<td>袖型：无袖</td>
					</tr>
				</table>
				<!--商品图片详情-->
				<ul>
					
					<foreach name="goodinfo['info_img']" item="img">

						<li><img src="__PUBLIC__/img/good/{$img}"></li>
					</foreach>
				</ul>
			</div>
		</div>	
	</div>
</block>