<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>我的购物车</title>
		<link href="__PUBLIC__/CSS/ShoppingCart/ShoppingCart.css" rel="stylesheet">
   		<link href="__PUBLIC__/pulish.css" rel="stylesheet">
   		<script type="text/javascript" src="__PUBLIC__/jquery-1.7.2.min.js"></script>
   		<script type="text/javascript" src="__PUBLIC__/JS/ShoppingCart/ShoppingCart.js"></script>
	</head>
	<body>
		<div class="tToolbar">
			<div style="float:right;">
				<a href="{:U('Home/User/login')}">login</a>
				<a href="{:U('Home/User/regedit')}">setup</a>
			</div>
		</div>
		<div class="header">
			<div class="logo">
				<a href="./">
					<img src="__PUBLIC__/img/logo.png" />
				</a>
				<a href="">
					<div class="link2">
						购物车
					</div>
				</a>
			</div>
				<div class="search">
					<input type="text" id="searchtext" name="" placeholder="搜索">
					<button>搜索</button>
				</div>
		</div>
		<!--<div class="min">
			<div class="middle">
				购物车内暂时没有商品
			</div>
		</div>
		<div class="mid_b">
			
		</div>
		<div class="mid_but">
			
		</div>-->
		<div class="mid_top">
			<input type="button" value="点击增加"  id="a"/>
			<input type="button" value="点击删除"  id="b"/>
		</div>
		<div class="mid_bor" id="c">
		
		</div>
	</body>
</html>