<extend name='./Public/tpl/index.html' />
<block name="head">
		<title>我的购物车</title>
   		<script type="text/javascript" src="__PUBLIC__/JS/ShoppingCart/ShoppingCart.js"></script>
   		<script>
   			var path = "__PUBLIC__";
   			var islogin = 1;
   			var op_num_path="{:U('Home/Shop/ajax_num_op')}";
   			var op_del_path="{:U('Home/Shop/ajax_d')}";
   			var home_path="{:U('Home/Shop/index')}";
   			var op_s_path="{:U('Home/Shop/ajax_s')}";
   			
   			
   		</script>
</block>
<block name="body">
		<div class="mid_top">
			<!--显示购物车内有多少件商品的div-->
			<div class="all_shop" id="all">
				<b>全部商品 {$goods|count}</b>
			</div>
		</div>
		<!--商品表头-->
		<div class="mid2">
			<div class="m_checkbox">
				<div class="che">
					<input type="checkbox" checked="checked" id="check_all" onclick="iselect(1)"/>
				</div>
				全选
			</div>
			<div class="m_goods">
				商品
			</div>
			<div class="m_props"></div>
			<div class="m_price">
				单价(元)
			</div>
			<div class="m_quantity">
				数量
			</div>
			<div class="m_sum">
				小计(元)
			</div>
			<div class="m_action">
				操作
			</div>
		</div>
		<!--显示商品-->
		<div id="show">
			<foreach name="goods" item="good">
			<div class="mid_main1" id="all_{$good['shopid']}">
				<div class="g_checkbox">
					<input type="checkbox" shopid="{$good['shopid']}" class="chec" <?php echo $good['isselect']==0?'':'checked'; ?> name="chgoods"/>

					<input type="hidden" value="{$good['price']}" id="price_{$good['shopid']}"/>
				</div>
				<div class="g_img">
					<img src="__PUBLIC__/img/{$good['imgpath']}" />
				</div>
				<div class="g_name">
					{$good['shopname']}<br />商品
				</div>
				<div class="g_price">
					{$good['price']}
				</div>
				<div class="g_quantity">
					<div class="g_add">
						<a href="javascript:void(0);" class="num_re" value="{$good['shopid']}">
							<div class="go_add_re">
								-
							</div>
						</a>
						<input type="text" class="go_text shopid" value="{$good['number']}" shopid="{$good['shopid']}"></input>
						<a href="javascript:void(0);" class="num_ad " value="{$good['shopid']}">
							<div class="go_add_re">
								+
							</div>
						</a>
					</div>
				</div>
				<div class="g_sum g_sum_{$good['shopid']}">
					<?php echo $good['price']*$good['number']; ?>
				</div>
				<div class="g_action">
					<a href="javascript:void(0);" value="{$good['shopid']}" class="good_d">
						删除
					</a>
				</div>
			</div>
			</foreach>
		</div>
		<div class="mid_buttom">
			<div class="m_checkbox">
				<div class="che">
					<input type="checkbox" class="allcheck" checked="checked" id="check_al" onclick="iselect(2)"/>
				</div>
				全选
			</div>
			<div class="deleGood">
				<a id="detelechogood" href="javascript:void(0);">删除所选商品</a>
			</div>
			<!--显示商品总价-->
			<div class="acc_text" id = "ac">
				已选择  
				<span style="color: #ff0000;" class="a_count">{$gdcount['s_count']}</span>  
				件商品  --- 总价  : 
				<span style="color: #ff0000; font-size: 18px;" class="a_price">¥ {$gdcount['p_count']}</span>
			</div>
			<a id="account" href="">
				<div class="account_button" style="color: #fff;">
					<b>去结算</b>
				</div>
			</a>
		</div>
		<div class="buttom">
		</div>
	</block>