<!DOCTYPE html>
<html>
<head>
   <title> 实例 - 标题</title>
   <meta charset="UTF-8">
   <!--<link href="__PUBLIC__/bootstrap.min.css" rel="stylesheet">-->
   <link href="__PUBLIC__/pulish.css" rel="stylesheet">
   <link href="__PUBLIC__/CSS/index.css" rel="stylesheet">
   <script src="__PUBLIC__/jquery-1.7.2.min.js"></script>
   <script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
   <style type="text/css" rel="stylesheet">
		
   </style>
   <script type="text/javascript">
   		$(function(){
   			$(".dd-inner .item").hover(function(){
   				$(".dorpdown-layer").fadeIn();
   				var index=$(this).index(".dd-inner .item");

   				if (!($(this).hasClass("hover"))) {	
   				}
   				$(this).addClass("hover").siblings().removeClass("hover");
   				
   				$($(".dorpdown-layerin")[index]).fadeIn().siblings().fadeOut();

   			},function(){
			});
   			$(".dd-inner").mouseleave(function(){
			$(".dorpdown-layer").fadeOut();
			/*$(".dorpdown-layerin").fadeOut();*/
			$(".dd-inner .item").removeClass("menulihover");

			});
		
   		})
   		
   </script>
</head>
<body>
	<div class="tToolbar">
		<div style="float:right;">
			<a href="{:U('Home/User/login')}">登  录</a>
			<a href="{:U('Home/User/regedit')}">注  册</a>
		</div>
	</div>
    <div class="logosearch" style="border:1px solid red;">
		<div class="logo" style="border:1px solid blue;">
		</div>
		<div class="search">
			<input type="text" id="searchtext" name="">
			<button>搜索</button>
		</div>
		<div class="shopbar"style="">
			<div class="shop">
				<div class="shopl"></div>
				<a target="_blank" href="http://cart.jd.com/cart/cart.html">我的购物车</a>
			</div>
		</div>
	</div>
	<div style="clear:both; height:0;"></div>
	<div class="w">
		<div class="nav">
			<div id="categorys" class="dorpdown">
				<div class="dt" >
					<a target="_blank" href="#">全部商品分类</a>
				</div>
				<div class="dd">
					<div class="dd-inner">
						<div class="item" id="">
							<h3><a target="_blank" href="#">家用电器</a></h3>
					   	</div>
						<div class="item" >
							<h3><a target="_blank" href="#">数码产品</a></h3>
					   	</div>
					   	<div class="item" >
							<h3><a target="_blank" href="#">服装</a></h3>
					   	</div>
					   	<div class="item" >
							<h3><a target="_blank" href="#">电脑产品</a></h3>
					   	</div>
						<div class="item" >
							<h3><a target="_blank" href="#">电脑产品1</a></h3>
					   	</div>
					   	<div class="item" >
							<h3><a target="_blank" href="#">电脑产品2</a></h3>
					   	</div>
					   	<div class="item" >
							<h3><a target="_blank" href="#">电脑产品3</a></h3>
					   	</div>
					   	<div class="item" >
							<h3><a target="_blank" href="#">电脑产品4</a></h3>
					   	</div>
					</div>
					<div class="dorpdown-layer" >	
						<div class=".dorpdown-layerin">家电脑城顶替枯无可奈何花落去枯燥轩辕丧权辱国是置顶帖</div>
						<div class=".dorpdown-layerin">111家电脑城顶替枯无可奈何花落去枯燥轩辕丧权辱国是置顶帖</div>
						<div class=".dorpdown-layerin">222家电脑城顶替枯无可奈何花落去枯燥轩辕丧权辱国是置顶帖</div>
					</div>	
	        	</div>
	        </div>
	        <div id="navitems">
	        	<ul id="navitems-group1">
					<li id="nav-fashion" class="fore1">
						<a target="_blank" href="http://channel.jd.com/fashion.html">服装城</a>
					</li>
					<li id="nav-beauty" class="fore2">
						<a target="_blank" href="http://channel.jd.com/beautysale.html">美妆馆</a>
					</li>
					<li id="nav-chaoshi" class="fore3">
						<a target="_blank" href="http://channel.jd.com/chaoshi.html">美食</a>
					</li>
					<li id="nav-jdww" class="fore4">
						<a target="_blank" href="http://www.jd.hk/">全球购</a>
					</li>
				</ul>
	        </div>
		</div>

		<div class="slider">
			<ul class="">
				<li class="">
					<a href=""><img src=""></a>
				</li>
				<li class="">
					<a href=""><img src=""></a>
				</li>
				<li class="">
					<a href=""><img src=""></a>
				</li>
				<li class="">
					<a href=""><img src=""></a>
				</li>

			</ul>

		</div>
		<div class="slider-extra">				
			<ul class="slider-nav">
				<li class="slider-item">1</li>
				<li class="slider-item">2</li>
				<li class="slider-item slider-selected">3</li>
				<li class="slider-item">4</li>
				<li class="slider-item">5</li>
				<li class="slider-item">6</li>
			</ul>							
		</div>
		<div class="news-serv">
			<div class="news">
				<div class="nt">网站公告</div>
				<div class="nc">
					<ul>
						<li><a href="">[特惠]海飞丝去屑又去油超清爽</a></li>
						<li><a href="">[公告]优化京东客户端 等你的建议</a></li>

					</ul>
				</div>
			</div>
			<div class="lifeserv">
				<div class="nt">生活服务</div>
				<div class="nc">
					<ul>
						<li class="servmenu">
								<a href="">
									1231
								</a>
						</li>
						<li class="servmenu">
								<a href="">
									1231
								</a>
						</li>
						<li class="servmenu"> 
								<a href="">
									1231
								</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div style="clear:both; height:0;"></div>
	<div class="youlike">
		<div class="nt noborder">猜你喜欢</div>
		<div class="nc">
			<ul>
				<li>
					<div class="p-img">
						<a href="">
							<img src="">1
						</a>
					</div>
					<div class="p-info">
						<div class="p-name">
							<a href="">sdf sdfsd sd sdsd
							</a>
						</div>
						<div class="p-price">
							￥38
						</div>
					</div>
				</li>
				<li>
					<div class="p-img">
						<a href="">
							<img src="">2
						</a>
					</div>
					<div class="p-info">
						<div class="p-name">
							<a href="">sdf sdfsd sd sdsd
							</a>
						</div>
						<div class="p-price">
							￥38.00
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>