<!DOCTYPE html>
<html>
<head>
   <title> 实例 - 标题</title>
   <meta charset="UTF-8">
   <!--<link href="__PUBLIC__/bootstrap.min.css" rel="stylesheet">-->

   <link href="__PUBLIC__/pulish.css" rel="stylesheet">
   <link href="__PUBLIC__/CSS/index.css" rel="stylesheet">
   <script src="__PUBLIC__/jquery-1.7.2.min.js"></script>
   <!--<script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>-->
   <style type="text/css" rel="stylesheet">
		
   </style>
   <script type="text/javascript">

//----------------------------导航栏效果代码-----------------------//
   		/*$(function(){
   			$(".item").hover(function(){

   				$(".dorpdown-layer").fadeIn();
   				var index=$(this).index(".dd-inner .item");

   				if (!($(this).hasClass("hover"))) {

   				}
   				else{}

   				$(this).addClass("hover").siblings().removeClass("hover");
   				
   				$($(".dorpdown-layerin")[index]).css("display","block").siblings().css("display","none");

   			},function(){
			});
   			$(".dd-inner").mouseleave(function(){
			$(".dorpdown-layer").fadeOut();
			$(".dorpdown-layerin").fadeOut();
			$(".dd-inner .item").removeClass("hover");

			});
		
   		})
   		*/
   		$(function(){
   			$(".dd .item").hover(function(){

   				$(".dorpdown-layer").fadeIn().css("z-index","50");
   				var index=$(this).index(".dd-inner .item");
   				$(this).addClass("hover").siblings().removeClass("hover");
   				
   				$($(".dorpdown-layerin")[index]).fadeIn().siblings().css("display","none");

   			},function(){
			});
   			$(".dd").mouseleave(function(){
			$(".dorpdown-layer").fadeOut();
			$(".dorpdown-layerin").fadeOut();
			$(".dd-inner .item").removeClass("hover");

			});
		
   		})
//-------------------结束---导航栏效果代码---------------------//


//-------------------- 图片轮播效果代码--------------------------------//

   		
		
		$(function() { 
			/* 自动调整高度*/
			var awidth=window.screen.availWidth;//取出屏幕的工作区
			$(".slider-img").find("img").css("width",awidth/2.44);
			/*自动播放*/
			var curIndex=0;
			var nextIndex=1;
			var countOfImg=6;

			autoTurn=function(){
				$($(".slider-img")[nextIndex]).css("display","block").siblings().css("display","none");
				/*$("#img"+nextIndex).css("display","block");*/
				$($(".slider-item")[nextIndex]).addClass("selected").css("background","red").siblings().removeClass("selected").css("background","#666");
				//alert($(".slider-item")[nextIndex]);
				curIndex=nextIndex;
				nextIndex=(nextIndex+1)%countOfImg;
			};

			/*autoTurn=function(){
				$("#img"+curIndex).css("display","none");
				$("#img"+nextIndex).css("display","block");
				$("#img-item"+nextIndex).addClass("selected").css("background","red").siblings().removeClass("selected").css("background","#666");
				curIndex=nextIndex;
				nextIndex=(nextIndex+1)%countOfImg;
			};*/

			var timeTurn=setInterval("autoTurn()",2000);//设置定时器


			$(".slider-item").mouseover(function(){
				if(timeTurn != 0){
					clearInterval(timeTurn);
					timeTurn=0;
				}

				var index2=$(this).index(".slider-item");
				$(this).css("background","red").siblings().css("background","#666");
				$($(".slider-img")[index2]).addClass("selected").css("display","block").siblings().removeClass("selected").css("display","none");

			});

			$(".slider-item").mouseout(function(){

				timeTurn=setInterval("autoTurn()",2000);
			});

			/*
			$(".slider").hover(function(){
				$(".slider-page").show();
			},function(){
				$(".slider-page").hide();
			});*/

			/*$(".slider-prev").click(function(){
				var index3 = $(".slider-img").hasClass("selected").index(".slider-img");
				alert(index3);
				if(index3>0){index3=-1;}
				else{index=5;}
				$($(".slider-img")[index3]).addClass("selected").css("display","block").siblings().removeClass("selected").css("display","none");
				$($(".slider-item")[index3]).css("background","red").siblings().css("background","#666");
			});*/


		}); 
//----------------结束---- 图片轮播效果代码--------------------------------//

//-------------------- 生活服务效果代码--------------------------------//	
	$(function(){
		$(".servmenu").hover(function(){
			$("")
		});
	})


//----------------结束---- 生活服务效果代码--------------------------------//				
   </script>
</head>
<body>
	<div class="tToolbar">
		<div style="float:right;">
			<a href="{:U('Home/User/login')}">登  录</a>
			<a href="{:U('Home/User/regedit')}">注  册</a>
		</div>
	</div>
	<div style="clear:both; height:0;"></div>
    <div class="logosearch" style="border:1px solid red;">
		<div class="logo" style="border:1px solid blue;">
		</div>
		<div class="search">
			<input type="text" id="searchtext" name="">
			<button>搜索</button>
		</div>
		<div class="shopbar"style="">
			<div class="shop">
				<div class="shopl"></div>
				<a target="_blank" href="http://cart.jd.com/cart/cart.html">我的购物车</a>
			</div>
		</div>
	</div>
	<div style="clear:both; height:0;"></div>
	<div class="w">
		<div class="nav">
			<div id="categorys" class="dorpdown">
				<div class="dt" >
					<a target="_blank" href="#">全部商品分类</a>
				</div>
				<div class="dd">
					<div class="dd-inner">
						<div class="item" >
							<h3><a target="_blank" href="#">家用电器12</a></h3>
							
					   	</div>
						<div class="item" >
							<h3><a target="_blank" href="#">数码产品12</a></h3>
					   	</div>
					   	<div class="item" >
							<h3><a target="_blank" href="#">服装121212121</a></h3>
					   	</div>
					   	<div class="item" >
							<h3><a target="_blank" href="#">电脑产品121</a></h3>
					   	</div>
						<div class="item" >
							<h3><a target="_blank" href="#">电脑产品1</a></h3>

					   	</div>
					   	<div class="item" >
							<h3><a target="_blank" href="#">电脑产品2</a></h3>
					   	</div>
					   	<div class="item" >
							<h3><a target="_blank" href="#">电脑产品3</a></h3>
					   	</div>
					   	<div class="item" >
							<h3><a target="_blank" href="#">电脑产品4</a></h3>
					   	</div>
					   	<div class="item" >
							<h3><a target="_blank" href="#">电脑产品5</a></h3>
					   	</div>
					   	<div class="item" >
							<h3><a target="_blank" href="#">电脑产品6</a></h3>
					   	</div>
					   	<div class="item" >
							<h3><a target="_blank" href="#">电脑产品7</a></h3>
					   	</div>
					</div>
					<div class="dorpdown-layer" >	
						<div class="dorpdown-layerin">家电脑城顶替枯无可奈何花落去枯燥轩辕丧权辱国是置顶帖</div>
						<div class="dorpdown-layerin">111家电脑城顶替枯无可奈何花落去枯燥轩辕丧权辱国是置顶帖</div>
						<div class="dorpdown-layerin">222家电脑城顶替枯无可奈何花落去枯燥轩辕丧权辱国是置顶帖</div>
						<div class="dorpdown-layerin">33家电脑城顶替枯无可奈何花落去枯燥轩辕丧权辱国是置顶帖</div>
						<div class="dorpdown-layerin">44家电脑城顶替枯无可奈何花落去枯燥轩辕丧权辱国是置顶帖</div>
						<div class="dorpdown-layerin">55家电脑城顶替枯无可奈何花落去枯燥轩辕丧权辱国是置顶帖</div>
						<div class="dorpdown-layerin">66家电脑城顶替枯无可奈何花落去枯燥轩辕丧权辱国是置顶帖</div>
						<div class="dorpdown-layerin">77家电脑城顶替枯无可奈何花落去枯燥轩辕丧权辱国是置顶帖</div>
					</div>	
	        	</div>
	        </div>
	        <div id="navitems">
	        	<ul id="">
					<li  class="fore">
						<a target="_blank" href="http://channel.jd.com/fashion.html">服装城</a>
					</li>
					<li class="fore">
						<a target="_blank" href="http://channel.jd.com/beautysale.html">美妆馆</a>
					</li>
					<li class="fore">
						<a target="_blank" href="http://channel.jd.com/chaoshi.html">美食</a>
					</li>
					<li class="fore">
						<a target="_blank" href="http://www.jd.hk/">全球购</a>
					</li>
				</ul>
	        </div>
		</div>

		<div class="slider">
			<ul class="slider-list">
				<li class="slider-img" id="img0" style="display:block;">
					<a href=""><img src="__PUBLIC__/img/1.jpg"></a>
				</li>
				<li class="slider-img" id="img1">
					<a href=""><img src="__PUBLIC__/img/2.jpg"></a>
				</li>
				<li class="slider-img" id="img2">
					<a href=""><img src="__PUBLIC__/img/3.jpg"></a>
				</li>
				<li class="slider-img" id="img3">
					<a href=""><img src="__PUBLIC__/img/4.jpg"></a>
				</li>
				<li class="slider-img" id="img4">
					<a href=""><img src="__PUBLIC__/img/5.jpg"></a>
				</li>
				<li class="slider-img" id="img5">
					<a href=""><img src="__PUBLIC__/img/6.jpg"></a>
				</li>
			</ul>

		</div>
		<div class="slider-extra">
			<div class="slider-page" style="display: block;">						
				<a href="" class="slider-prev">&lt;</a>
				<a href="" class="slider-next">&gt;</a> 				
			</div>
			<div class="slider-list">					
				<ul class="slider-nav">
					<li class="slider-item" id="img-item0" style="background:red;">1</li>
					<li class="slider-item" id="img-item1">2</li>
					<li class="slider-item" id="img-item2">3</li>
					<li class="slider-item" id="img-item3">4</li>
					<li class="slider-item" id="img-item4">5</li>
					<li class="slider-item" id="img-item5">6</li>
				</ul>
			</div>						
		</div>
		<div class="news-serv">
			<div class="news">
				<div class="nt">网站公告</div>
				<div class="nc">
					<ul>
						<li><a href="">[特惠]海飞丝去屑又去油超清爽</a></li>
						<li><a href="">[公告]优化京东客户端 等你的建议</a></li>

					</ul>
				</div>
			</div>
			<div class="lifeserv">
				<div class="nt">生活服务</div>
				<div class="nc">
					<ul>
						<li class="servmenu">
								<a href="">
									1231
								</a>
						</li>
						<li class="servmenu">
								<a href="">
									1231
								</a>
						</li>
						<li class="servmenu"> 
								<a href="">
									1231
								</a>
						</li>
					</ul>
					<div class="serv-list">
						<div class="serv">
							123
						</div>
						<div class="serv">
							321
						</div>
						<div class="serv">
							1234
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div style="clear:both; height:0;"></div>
	<div class="youlike">
		<div class="nt noborder">猜你喜欢</div>
		<div class="nc">
			<ul>
				<li>
					<div class="p-img">
						<a href="">
							<img src="">1
						</a>
					</div>
					<div class="p-info">
						<div class="p-name">
							<a href="">sdf sdfsd sd sdsd
							</a>
						</div>
						<div class="p-price">
							￥38
						</div>
					</div>
				</li>
				<li>
					<div class="p-img">
						<a href="">
							<img src="">2
						</a>
					</div>
					<div class="p-info">
						<div class="p-name">
							<a href="">sdf sdfsd sd sdsd
							</a>
						</div>
						<div class="p-price">
							￥38.00
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>