<extend name='./Public/tpl/index.html' />
<block name="head">
  <title>{$t}</title>

   <link href="__PUBLIC__/CSS/market.css" rel="stylesheet">


   <script type="text/javascript">
   		var s_now="{$id}";//当前的页面ID
      //-------------------- 选项效果代码--------------------------------// 
        $(function(){
          $(".tab-item").hover(function(){
            $(this).addClass("selected").siblings().removeClass("selected");
            var index = $(this).index(".tab-item");
            $($(".spu-list")[index]).show().siblings().hide();
          });
        });


//----------------结束---- 选项效果代码--------------------------------// 
   </script>
</block>

<block name="b_menu"></block><!--取消导航栏的菜单-->
<block name="body">
<div class="width" display="text-align: center;">
<div class="mkcontent" style="width: 990px;margin: 0 auto;">
<!--导航栏-->
  <div class="nav">
  <!-- 横向导航栏-->
    <div class="sm-item-list">
      <div class="market-wrap">
        <ul class="main-list">
          <li>
            <a href="" class="list-index current" ><b>智能产品</b>
            <b class="marketicon">&nbsp;&nbsp;</b>
            </a>
          </li>

          <li>
            <a  href="#" ><b>服装城</b></a></li>
          <li>
            <a  href="/" ><b>美容产品</b></a></li>
          </ul>
        <div class="menu-button ">
          <ul>
            <li>
              <a  href="">
                <b>商品目录</b>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  <!-- END 横向导航栏-->

  <!--导航栏目-->
  <div class="sm-cat-list">
    <div class="fix-box">
      <div class="market-wrap current">
        <div class="cat"  style="">
            <div class="cat-title cat-head">
              <a href="#">手机</a>
            </div>
            <div >
              <div class="cat-title"><a href="#">iPhone</a></div>
              <div class="cat-title"><a href="#">小米</a></div>
              <div class="cat-title"><a href="#">华为</a></div>
              <div class="cat-title"><a href="#">酷派</a></div>
              <div class="cat-title"><a href="#">魅族</a></div>
              <div class="cat-title"><a href="#">中兴</a></div>
              <div class="cat-title"><a href="#">VIVO</a></div>
              <div class="cat-title"><a href="#">三星</a></div>
              <div class="cat-title"><a href="#">其他品牌</a></div>
            </div>
        </div>

        <div class="cat">
            <div class="cat-title cat-head">
              <a href="#">平板电脑</a>
            </div>
            <div>
              <div class="cat-title"><a href="#">iPad</a></div>
              <div class="cat-title"><a href="#">三星</a></div>
              <div class="cat-title"><a href="#">联想</a></div>
              <div class="cat-title"><a href="#">台电</a></div>
              <div class="cat-title"><a href="#">华为</a></div>
              <div class="cat-title"><a href="#">蓝魔</a></div>
              <div class="cat-title"><a href="#">酷比魔方</a></div>
              <div class="cat-title"><a href="#">索尼</a></div>
            </div>
        </div>

        <div class="cat">
            <div class="cat-title cat-head">
              <a href="#">相机/单反</a>
            </div>
            <div>
              <div class="cat-title"><a href="#">专业单反</a></div>
              <div class="cat-title"><a href="#">微单</a></div>
              <div class="cat-title"><a href="#">镜头</a></div>
              <div class="cat-title"><a href="#">卡片机</a></div>
              <div class="cat-title"><a href="#">卡西欧</a></div>
              <div class="cat-title"><a href="#">佳能</a></div>
              <div class="cat-title"><a href="#">尼康</a></div>
              <div class="cat-title"><a href="#">索尼</a></div>
            </div>
        </div>

        <div class="cat">
            <div class="cat-title cat-head">
              <a href="#">笔记本</a>
            </div>
            <div>
              <div class="cat-title"><a href="#">苹果</a></div>
              <div class="cat-title"><a href="#">联想</a></div>
              <div class="cat-title"><a href="#">Thinkpad</a></div>
              <div class="cat-title"><a href="#">戴尔</a></div>
              <div class="cat-title"><a href="#">华硕</a></div>
              <div class="cat-title"><a href="#">Acer</a></div>
              <div class="cat-title"><a href="#">神舟</a></div>
              <div class="cat-title"><a href="#">三星</a></div>
            </div>
        </div>
        <div class="cat">
            <div class="cat-title cat-head">
              <a href="#">台式机</a>
            </div>
            <div>
              <div class="cat-title"><a href="#">无线鼠标</a></div>
              <div class="cat-title"><a href="#">CPU</a></div>
              <div class="cat-title"><a href="#">无线路由器</a></div>
              <div class="cat-title"><a href="#">移动硬盘</a></div>
              <div class="cat-title"><a href="#">显卡</a></div>
              <div class="cat-title"><a href="#">内存</a></div>
              <div class="cat-title"><a href="#">键盘</a></div>
            </div>
        </div>

        <div class="cat" style="border-right:0px;">
            <div class="cat-title cat-head">
              <a href="#">3C数码配件</a>
            </div>
            <div>
              <div class="cat-title"><a href="#">智能穿戴</a></div>
              <div class="cat-title"><a href="#">充电宝</a></div>
              <div class="cat-title"><a href="#">壳套配件</a></div>
              <div class="cat-title"><a href="#">蓝牙耳机</a></div>
              <div class="cat-title"><a href="#">无线键鼠套装</a></div>
            </div>
        </div>
      </div> 
    </div>  
  </div>
  <!-- END 导航栏目-->
</div>
<!-- END 导航栏-->
<div class="w">
  <div class="banner">
    <div class="block row-2" >
      <div class="s-banner">
        <div class="single-img ">
          <a target="_blank" href="#">
            <img src="__PUBLIC__/img/T1DawaFLlcXXaCwpjX.png">
          </a>
        </div> 
      </div>
    </div>
    <div class="block row-2 " >
      <div class="s-banner">
        <div class="single-img ">
          <a target="_blank" href="#">
            <img src="__PUBLIC__/img/TB18PX3HpXXXXXTaFXXwu0bFXXX.png">
          </a>
        </div> 
      </div>
    </div>
    <div class="block row-2 ">
      <div class="s-banner">
        <div class="single-img ">
          <a target="_blank" href="#">
            <img src="__PUBLIC__/img/T11F28FRtbXXaCwpjX.png">
          </a>
        </div> 
      </div>
    </div>
    <div class="block row-1 ">
      <div class="h-banner">
        <div class="single-img ">
          <a target="_blank" href="#">
            <img src="__PUBLIC__/img/TB1DDbrGFXXXXazapXXt5fmSXXX-380-100.jpg">
          </a>
        </div> 
      </div>
    </div>
    <div class="block row-1 " >
      <div class="h-banner">
        <div class="single-img ">
          <a target="_blank" href="#">
            <img src="__PUBLIC__/img/TB1LbnPGVXXXXayXXXXt5fmSXXX-380-100.jpg">
          </a>
        </div> 
      </div>
    </div>
  </div>
  <div style="clear:both; height:0;"></div>
  
  <div class="banner">
    
    <div class="bannerT">近期热卖</div>

      <div class="main-content">
          <ul class="tab-nav">
                  <li class="tab-item selected">
                  手机
                  </li>
                  <li class="tab-item">
                  相机 
                  </li>
                  <li class="tab-item">
                  电脑
                  </li>
                  <li class="tab-item">
                  智能穿戴
                  </li>
                  <li class="tab-item">
                  3C配件
                  </li>
                 
          </ul>
          <div class="tab-content">
                <div class="content">
                <!--手机-->
                  <div  class="spu-list" style="display: block;">
                      <div class="floor-type">
                      	<foreach name="data" item="good">
                          <div class="  item-middle-image item-wrap">
                              <a title="{$good.good_name}" target="_blank" class="img-wrap" href="{:U('Home/shop/show','','')}/goodid/{$good.good_id}">
                                  <img  height="160" src="__PUBLIC__/img/good/{$good.cate}/{$good.good_bimg.1}">
                              </a>
                              <a title="{$good.good_name}" target="_blank" href="{:U('Home/shop/show','','')}/goodid/{$good.good_id}" class="item-desc">
                                  <h5 class="title">{$good.good_name}</h5>
                                  <p class="price">¥ {$good.price}</p>
                              </a>
                          </div>
                          </foreach>

                      </div>
                  </div>
                  <!--END 手机-->
                <!--相机-->
                  <div class="spu-list " style="">
                      <div class="floor-type ">
                      	
                            <foreach name="data2" item="good">
                          <div class="  item-middle-image item-wrap">
                              <a title="{$good.good_name}" target="_blank" class="img-wrap" href="{:U('Home/shop/show','','')}/goodid/{$good.good_id}">
                                  <img  height="160" src="__PUBLIC__/img/good/{$good.cate}/{$good.good_bimg.1}">
                              </a>
                              <a title="{$good.good_name}" target="_blank" href="{:U('Home/shop/show','','')}/goodid/{$good.good_id}" class="item-desc">
                                  <h5 class="title">{$good.good_name}</h5>
                                  <p class="price">¥ {$good.price}</p>
                              </a>
                          </div>
                          </foreach>
					  </div>
                  </div>
                    
                  <!--END 相机-->
                  <div class="spu-list " style="">
                      <div class="floor-type ">
                      	
                            <foreach name="data2" item="good">
                          <div class="  item-middle-image item-wrap">
                              <a title="{$good.good_name}" target="_blank" class="img-wrap" href="{:U('Home/shop/show','','')}/goodid/{$good.good_id}">
                                  <img  height="160" src="__PUBLIC__/img/good/{$good.cate}/{$good.good_bimg.1}">
                              </a>
                              <a title="{$good.good_name}" target="_blank" href="{:U('Home/shop/show','','')}/goodid/{$good.good_id}" class="item-desc">
                                  <h5 class="title">{$good.good_name}</h5>
                                  <p class="price">¥ {$good.price}</p>
                              </a>
                          </div>
                          </foreach>
					  </div>
                  </div>
                <!--电脑-->
                  <div class="spu-list " style="">
                      <div class="floor-type ">
                      	
                            <foreach name="data2" item="good">
                          <div class="  item-middle-image item-wrap">
                              <a title="{$good.good_name}" target="_blank" class="img-wrap" href="{:U('Home/shop/show','','')}/goodid/{$good.good_id}">
                                  <img  height="160" src="__PUBLIC__/img/good/{$good.cate}/{$good.good_bimg.1}">
                              </a>
                              <a title="{$good.good_name}" target="_blank" href="{:U('Home/shop/show','','')}/goodid/{$good.good_id}" class="item-desc">
                                  <h5 class="title">{$good.good_name}</h5>
                                  <p class="price">¥ {$good.price}</p>
                              </a>
                          </div>
                          </foreach>
					  </div>
                  </div>
                  <!--END 电脑-->
                <!--智能穿戴-->
                <div class="spu-list " style="">
                      <div class="floor-type ">
                      	
                            <foreach name="data2" item="good">
                          <div class="  item-middle-image item-wrap">
                              <a title="{$good.good_name}" target="_blank" class="img-wrap" href="{:U('Home/shop/show','','')}/goodid/{$good.good_id}">
                                  <img  height="160" src="__PUBLIC__/img/good/{$good.cate}/{$good.good_bimg.1}">
                              </a>
                              <a title="{$good.good_name}" target="_blank" href="{:U('Home/shop/show','','')}/goodid/{$good.good_id}" class="item-desc">
                                  <h5 class="title">{$good.good_name}</h5>
                                  <p class="price">¥ {$good.price}</p>
                              </a>
                          </div>
                          </foreach>
					  </div>
                  </div>
                  <!--END 智能穿戴-->
                <!--3C配件-->
				<div class="spu-list " style="">
                      <div class="floor-type ">
                      	
                            <foreach name="data2" item="good">
                          <div class="  item-middle-image item-wrap">
                              <a title="{$good.good_name}" target="_blank" class="img-wrap" href="{:U('Home/shop/show','','')}/goodid/{$good.good_id}">
                                  <img  height="160" src="__PUBLIC__/img/good/{$good.cate}/{$good.good_bimg.1}">
                              </a>
                              <a title="{$good.good_name}" target="_blank" href="{:U('Home/shop/show','','')}/goodid/{$good.good_id}" class="item-desc">
                                  <h5 class="title">{$good.good_name}</h5>
                                  <p class="price">¥ {$good.price}</p>
                              </a>
                          </div>
                          </foreach>
					  </div>
                  </div>
                  <!--END 3C配件-->
                </div>        
          </div>
      </div>
</div>

</div>

</div>
</block>
