html,body,div,span,a{
	font-family: arial,"Hiragino Sans GB","Hiragino Sans GB W3",\5b8b\4f53; 
}
body{
	margin: 0px;
	padding: 0px;
	min-width: 990px;
}
.tToolbar{
	background-color: #F1F1F1;
	height: 30px;
	line-height: 30px;

}
a{
	color: black;
	text-decoration: none;
	padding:0px 0px 0px 0px;
}
a:hover{
	color: red;
	text-decoration: none;
	
}
a:visited{
	color: black;
	text-decoration: none;
	padding:0px 20px 0px 0px;
}
a:active{
	color: black;
	text-decoration: none;
	padding:0px 20px 0px 0px;
}
ul{
	list-style: none;
	padding: 0px;
	margin-top: 0px;
}
li{
}

img{
	border: 0px;
}
