/*
*{
	font-family: arial,"Hiragino Sans GB","Hiragino Sans GB W3",\5b8b\4f53; 
}*/
body{
	margin: 0px;
	padding: 0px;
	min-width: 990px;
}
.tToolbar{
	background-color: #F1F1F1;
	height: 30px;
	line-height: 30px;

}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
	
}
a:visited{
	text-decoration: none;
}
a:active{
	text-decoration: none;
}
ul{
	list-style: none;
	padding: 0px;
	margin-top: 0px;
}
li{
}