@charset "UTF-8";
.Top-list{
	
	width: 308px;
	text-align: left;
	border:1px solid red;
	padding: 7px;
}
.num-top{
	background-color: yellow;
	line-height: 20px;
	width: 20px;
	display: inline-block;
	text-align: center;
}
.item-hd{
	background-color: #666;
	border-bottom: 1px solid red;
}
.item-bd{
	overflow: hidden;
	background: #FCFCFD;
}
.item-info{
	font-size: 12px;
	color: #4D4D4D;
	line-height: 20px;
}
.Top-list a{
	color: #4D4D4D;
}
.item-info img{
	float: left;
	margin-right: 10px;
}