<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<title>纵向分类页面</title>
	   <!--<link href="__PUBLIC__/bootstrap.min.css" rel="stylesheet">-->

	   <link href="../../../Public/pulish.css" rel="stylesheet">
	   <link href="../../../Public/CSS/category.css" rel="stylesheet">
	   <script src="../../../Public/jquery-1.7.2.min.js"></script>
	   <!--<script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>-->
	   <style type="text/css" rel="stylesheet">
			
	   </style>
	   <script type="text/javascript">
	   </script>
</head>
<body>
	<div class="w">
		<div class="banner">
			<div class="hc-category">
		            <ul class="clearfix">
		                <li class="hc-category-index ">
		                  <a href="/"  >
		                    <span class="category-item">惠惠首页</span>
		                  </a>
		                </li>
		                <li class="hc-category-index ">
		                  <a href="/"   >
		                    <span class="category-item">日用百货</span>
		                  </a>
		                </li>
		                <li class="hc-category-index ">
		                  <a href="/"  >
		                    <span class="category-item">食品生鲜</span>
		                  </a>
		                </li>
		                <li class="hc-category-index ">
		                  <a href="/"  >
		                    <span class="category-item">服饰鞋包</span>
		                  </a>
		                </li>
		                <li class="hc-category-index ">
		                  <a href="/"  >
		                    <span class="category-item">美妆个护</span>
		                  </a>
		                </li>
		                <li class="hc-category-index ">
		                  <a href="/"  >
		                    <span class="category-item">运动健康</span>
		                  </a>
		                </li>
		                <li class="hc-category-index ">
		                  <a href="/" >
		                    <span class="category-item">数码家电</span>
		                  </a>
		                </li>
		                <li class="hc-category-index ">
		                  <a href="/" >
		                    <span class="category-item">母婴玩具</span>
		                  </a>
		                </li>
		                <li class="hc-category-index ">
		                  <a href="/" >
		                    <span class="category-item">海外购</span>
		                  </a>
		                </li>
		                <li class="hc-category-index ">
		                  <a href="/"  >
		                    <span class="category-item">其他类别</span>
		                  </a>
		                </li>
		            </ul>
		    </div>
		    <div class="content">

		    	<div class="index" >
				    <div class="index-item" >
				        <h2 class="title1">全部 -&nbsp;&nbsp;&nbsp;日用百货
				        </h2>
				        <ul class="list">
				            <li class="list-item1">
								<div class="module-list-item1">
								    <div class="list-top clearfix">
								        <div class="list-shop">
								            <a href="#" class="shop">
								                亚马逊
								            </a>
								            <span class="sp">|</span>
								            <a href="#">
								                日用百货
								            </a>
								        </div>
								       
								    </div>
								    <div class="list-ctn clearfix">
								        <div class="list-pic">
								            <a href="#" target="_blank">
								                <img src="../../../Public/img/image.jpg"  alt="THERMOS膳魔师 B2010B3000 保温杯+闷烧罐组合装" width="180" height="180">
								            </a>
								        </div>
								        <div class="list-text">
								            <h3>
								                <a href="#" target="_blank">
								                    THERMOS膳魔师 B2010B3000 保温杯+闷烧罐组合装<em>259元包邮</em>
								                </a>
								            </h3>
								            <div class="h-content">
								                <div class="h-content-text">
								                    <p>
								                        套装包括B2010吸管保温杯、B3000闷烧罐和一个小书包。其中吸管保温杯和焖烧罐主体采用医用不锈钢，外部进行了抑菌处理，不易滋生病菌。具有防漏功能，一键开启瓶盖，使用硅胶吸管饮用，安全卫生
								                        <a href="" class="readmore" target="_blank" _hover-ignore="1">
								                            ...继续阅读
								                        </a>
								                    </p>
								                </div>
								            </div>
								            <div class="hlist-btm ">
								                <div class="relevant-left">
								                    <a href="#" target="_blank" class="btn-buy ">
								                            <b>￥259</b>
								                            <i>去亚马逊购买</i>
								                    </a>
								                </div>
								            </div>
								        </div>
								    </div>
								</div>
				            </li>
				            <li class="list-item1">
								<div class="module-list-item1">
								    <div class="list-top clearfix">
								        <div class="list-shop">
								            <a href="#" class="shop">
								                亚马逊
								            </a>
								            <span class="sp">|</span>
								            <a href="#">
								                日用百货
								            </a>
								        </div>
								       
								    </div>
								    <div class="list-ctn clearfix">
								        <div class="list-pic">
								            <a href="#" target="_blank">
								                <img src="../../../Public/img/image.jpg"  alt="THERMOS膳魔师 B2010B3000 保温杯+闷烧罐组合装" width="180" height="180">
								            </a>
								        </div>
								        <div class="list-text">
								            <h3>
								                <a href="#" target="_blank">
								                    THERMOS膳魔师 B2010B3000 保温杯+闷烧罐组合装<em>259元包邮</em>
								                </a>
								            </h3>
								            <div class="h-content">
								                <div class="h-content-text">
								                    <p>
								                        套装包括B2010吸管保温杯、B3000闷烧罐和一个小书包。其中吸管保温杯和焖烧罐主体采用医用不锈钢，外部进行了抑菌处理，不易滋生病菌。具有防漏功能，一键开启瓶盖，使用硅胶吸管饮用，安全卫生
								                        <a href="" class="readmore" target="_blank" _hover-ignore="1">
								                            ...继续阅读
								                        </a>
								                    </p>
								                </div>
								            </div>
								            <div class="hlist-btm ">
								                <div class="relevant-left">
								                    <a href="#" target="_blank" class="btn-buy ">
								                            <b>￥259</b>
								                            <i>去亚马逊购买</i>
								                    </a>
								                </div>
								            </div>
								        </div>
								    </div>
								</div>
				            </li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</div>
</body>
</html>

