<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<title>无标题</title>
	   <!--<link href="__PUBLIC__/bootstrap.min.css" rel="stylesheet">-->

	   <link href="../../../Public/pulish.css" rel="stylesheet">
	   <link href="../../../Public/CSS/category.css" rel="stylesheet">
	   <script src="../../../Public/jquery-1.7.2.min.js"></script>
	   <!--<script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>-->
	   <style type="text/css" rel="stylesheet">
			
	   </style>
	   <script type="text/javascript">
	   </script>
</head>
<body>
	<div class="w">
		<div class="banner">
			<div class="hc-category">
		            <ul class="clearfix">
		                <li class="hc-category-index ">
		                  <a href="/"  >
		                    <span class="category-item">惠惠首页</span>
		                  </a>
		                </li>
		                <li class="hc-category-index ">
		                  <a href="/all/cates/daily"   >
		                    <span class="category-item">日用百货</span>
		                  </a>
		                </li>
		                <li class="hc-category-index ">
		                  <a href="/all/cates/food"  >
		                    <span class="category-item">食品生鲜</span>
		                  </a>
		                </li>
		                <li class="hc-category-index ">
		                  <a href="/all/cates/dresses"  >
		                    <span class="category-item">服饰鞋包</span>
		                  </a>
		                </li>
		                <li class="hc-category-index ">
		                  <a href="/all/cates/cosmetics"  >
		                    <span class="category-item">美妆个护</span>
		                  </a>
		                </li>
		                <li class="hc-category-index ">
		                  <a href="/all/cates/sport"  >
		                    <span class="category-item">运动健康</span>
		                  </a>
		                </li>
		                <li class="hc-category-index ">
		                  <a href="/all/cates/digital" >
		                    <span class="category-item">数码家电</span>
		                  </a>
		                </li>
		                <li class="hc-category-index ">
		                  <a href="/all/cates/baby" >
		                    <span class="category-item">母婴玩具</span>
		                  </a>
		                </li>
		                <li class="hc-category-index ">
		                  <a href="/all/cates/abroad" >
		                    <span class="category-item">海外购</span>
		                  </a>
		                </li>
		                <li class="hc-category-index ">
		                  <a href="/all/cates/other"  >
		                    <span class="category-item">其他类别</span>
		                  </a>
		                </li>
		            </ul>
		    </div>
		    <div class="content">
		    	1
		    </div>
	</div>
</body>
</html>

