<!DOCTYPE html>
<html>
<head>
   <title> 实例 - 标题</title>
   <meta charset="UTF-8">
   <link href="../../../bootstrap.min.css" rel="stylesheet">
   <link href="../../../Public/CSS/index.css" rel="stylesheet">
   <link href="../../../Public/pulish.css" rel="stylesheet">
   <script src="/scripts/jquery.min.js"></script>
   <script src="/bootstrap/js/bootstrap.min.js"></script>
   <style type="text/css" rel="stylesheet">
		
   </style>
</head>
<body>
	<div class="tToolbar">
		<div style="float:right;">
			<a href="">login</a>
			<a href="">setup</a>
		</div>
	</div>
    <div class="logosearch" style="border:1px solid red;">
		<div class="logo" style="border:1px solid blue;">
		</div>
		<div class="search">
			<input type="text" id="searchtext" name="">
			<button>搜索</button>
		</div>
		<div class="shopbar"style="">
			<div class="shop">
				<div class="shopl"></div>
				<a target="_blank" href="http://cart.jd.com/cart/cart.html">我的购物车</a>
			</div>
		</div>
	</div>
	<div class="nav">
		<div id="categorys" class="dorpdown">
			<div class="dt" >
				<a target="_blank" href="#">全部商品分类</a>
			</div>
			<div class="dd">
				<div class="dd-inner">
					<div class="item" id="">
						<h3><a target="_blank" href="#">家用电器</a></h3>
				   	</div>
					<div class="item" >
						<h3><a target="_blank" href="#">数码产品</a></h3>
				   	</div>
				   	<div class="item" >
						<h3><a target="_blank" href="#">服装</a></h3>
				   	</div>
				   	<div class="item" >
						<h3><a target="_blank" href="#">电脑产品</a></h3>
				   	</div>
					<div class="item" >
						<h3><a target="_blank" href="#">电脑产品1</a></h3>
				   	</div>
				   	<div class="item" >
						<h3><a target="_blank" href="#">电脑产品2</a></h3>
				   	</div>
				   	<div class="item" >
						<h3><a target="_blank" href="#">电脑产品3</a></h3>
				   	</div>
				   	<div class="item" >
						<h3><a target="_blank" href="#">电脑产品4</a></h3>
				   	</div>
				</div>
				<div class="dorpdown-layer" >	
					<div>家电脑城顶替枯无可奈何花落去枯燥轩辕丧权辱国是置顶帖</div>
				</div>	
        	</div>
        </div>
        <div id="navitems">
        	<ul id="navitems-group1">
				<li id="nav-fashion" class="fore1">
					<a target="_blank" href="http://channel.jd.com/fashion.html">服装城</a>
				</li>
				<li id="nav-beauty" class="fore2">
					<a target="_blank" href="http://channel.jd.com/beautysale.html">美妆馆</a>
				</li>
				<li id="nav-chaoshi" class="fore3">
					<a target="_blank" href="http://channel.jd.com/chaoshi.html">美食</a>
				</li>
				<li id="nav-jdww" class="fore4">
					<a target="_blank" href="http://www.jd.hk/">全球购</a>
				</li>
			</ul>
        </div>
	</div>
	<div style="clear:both; height:0;"></div>
	<div class="slider">
		<ul class="">
			<li class="">
				
			</li>
			<li class="">
				
			</li>
			<li class="">
				
			</li>
			<li class="">
				
			</li>

		</ul>
	</div>
</body>
</html>