<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title></title>

  <link href="../../../Public/css/login.css" rel="stylesheet">
 </head>
 <body align="center">
		<div id="top">
			<div id="topmain">
				<a href="../index.html"><img src="../../../Public/image/23333.png" width : 170px height : 60px /></a>
			</div>
		</div>
		<div id="main">
				<div id="mainleft">
					<div id="left">
						<img src="../../../Public/image/bg.jpg" />
					</div>
				</div>
				<div id="mainright">
					<div id="right">
						
						<div id="box">
							<div id="boxd1"><img src="../../../Public/image/username.png" width : 40px height : 40px /></div>
							<div id="box1">
								<input type="text" class="txt">
							</div>
						</div>
						<div id="box">
							<div id="boxd2"><img src="../../../Public/image/password.png" width : 40px height : 40px /></div>
							<div id="box2">
								<input type="password" class="txt">
							</div>
						</div>
						<div id="box">
							<div id="box3">
								<button type="submit" class="butto">登录
							</div>
						</div>
						<div id="box">
							<div id="box4">
								<input type="checkbox">记住用户名
							</div>
							<div id="box5">没有账号？
							<font color="808080">|</font>
							<a href="set.html">立即注册</a>
							</div>
						</div>
					</div>
				</div>
		</div>
 </body>
 </html>