<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <title>数码产品</title>
  <link href="../../../Public/pulish.css" rel="stylesheet">
   <link href="../../../Public/CSS/market.css" rel="stylesheet">
   <script src="../../../jquery-1.7.2.min.js"></script>
   <!--<script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>-->
</head>
<body>
  <div class="nav">
    <div class="sm-item-list">
      <div class="market-wrap">
        <ul class="main-list">
          <li>
            <a href="" class="list-index current" ><b>首页</b>
          </a></li>
          <li>
            <a  href="//www.taobao.com/market/3c/shouji.php?spm=a217h.1099669.a214da9.11.g5G64M" data-spm-anchor-id="a217h.1099669.a214da9.11"><b>手机</b></a></li>
          <li>
            <a data-tag="foobar" href="//www.taobao.com/market/3c/360camera.php?spm=a217h.1099669.a214da9.12.g5G64M" data-spm-anchor-id="a217h.1099669.a214da9.12"><b>相机单反</b></a></li>
          <li>
            <a data-tag="foobar" href="//www.taobao.com/market/3c/diannao.php?spm=a217h.1099669.a214da9.13.g5G64M" data-spm-anchor-id="a217h.1099669.a214da9.13"><b>PC电脑</b></a></li>
          <li>
            <a data-tag="foo" href="//www.taobao.com/market/3c/3cpeijian.php?spm=a217h.1099669.a214da9.14.g5G64M" data-spm-anchor-id="a217h.1099669.a214da9.14"><b>智能3C馆</b></a></li>
          <li>
            <a data-tag="foo" href="//www.taobao.com/market/jiadian/home.php?spm=a217h.1099669.a214da9.15.g5G64M" data-spm-anchor-id="a217h.1099669.a214da9.15"><b>智能家电</b></a></li>
          <li>
            <a data-tag="" href="//www.taobao.com/market/3c/yemian.php?spm=a217h.1099669.a214da9.16.g5G64M" data-spm-anchor-id="a217h.1099669.a214da9.16"><b>二手回收</b></a></li>
          </ul>
        <div class="menu-button ">
          <ul>
            <li>
              <a  href="">
                <b>商品目录</b>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  
  <div class="sm-cat-list">
    <div class="fix-box">
      <div class="market-wrap current">
        <div class="cat"  style="width:185px;">
            <div class="cat-title cat-head">
              <a href="#">手机</a>
            </div>
            <div >
              <div class="cat-title"><a href="#">iPhone</a></div>
              <div class="cat-title"><a href="#">小米</a></div>
              <div class="cat-title"><a href="#">华为</a></div>
              <div class="cat-title"><a href="#">酷派</a></div>
              <div class="cat-title"><a href="#">魅族</a></div>
              <div class="cat-title"><a href="#">中兴</a></div>
              <div class="cat-title"><a href="#">VIVO</a></div>
              <div class="cat-title"><a href="#">三星</a></div>
              <div class="cat-title"><a href="#">其他品牌</a></div>
            </div>
        </div>

        <div class="cat">
            <div class="cat-title cat-head">
              <a href="#">平板电脑</a>
            </div>
            <div>
              <div class="cat-title"><a href="#">iPad</a></div>
              <div class="cat-title"><a href="#">三星</a></div>
              <div class="cat-title"><a href="#">联想</a></div>
              <div class="cat-title"><a href="#">台电</a></div>
              <div class="cat-title"><a href="#">华为</a></div>
              <div class="cat-title"><a href="#">蓝魔</a></div>
              <div class="cat-title"><a href="#">酷比魔方</a></div>
              <div class="cat-title"><a href="#">索尼</a></div>
            </div>
        </div>

        <div class="cat">
            <div class="cat-title cat-head">
              <a href="#">相机/单反</a>
            </div>
            <div>
              <div class="cat-title"><a href="#">专业单反</a></div>
              <div class="cat-title"><a href="#">微单</a></div>
              <div class="cat-title"><a href="#">镜头</a></div>
              <div class="cat-title"><a href="#">卡片机</a></div>
              <div class="cat-title"><a href="#">卡西欧</a></div>
              <div class="cat-title"><a href="#">佳能</a></div>
              <div class="cat-title"><a href="#">尼康</a></div>
              <div class="cat-title"><a href="#">索尼</a></div>
            </div>
        </div>

        <div class="cat">
            <div class="cat-title cat-head">
              <a href="#">笔记本</a>
            </div>
            <div>
              <div class="cat-title"><a href="#">苹果</a></div>
              <div class="cat-title"><a href="#">联想</a></div>
              <div class="cat-title"><a href="#">Thinkpad</a></div>
              <div class="cat-title"><a href="#">戴尔</a></div>
              <div class="cat-title"><a href="#">华硕</a></div>
              <div class="cat-title"><a href="#">Acer</a></div>
              <div class="cat-title"><a href="#">神舟</a></div>
              <div class="cat-title"><a href="#">三星</a></div>
            </div>
        </div>
        <div class="cat">
            <div class="cat-title cat-head">
              <a href="#">台式机</a>
            </div>
            <div>
              <div class="cat-title"><a href="#">无线鼠标</a></div>
              <div class="cat-title"><a href="#">CPU</a></div>
              <div class="cat-title"><a href="#">无线路由器</a></div>
              <div class="cat-title"><a href="#">移动硬盘</a></div>
              <div class="cat-title"><a href="#">显卡</a></div>
              <div class="cat-title"><a href="#">内存</a></div>
              <div class="cat-title"><a href="#">键盘</a></div>
            </div>
        </div>

        <div class="cat" style="border-right:0px;">
            <div class="cat-title cat-head">
              <a href="#">3C数码配件</a>
            </div>
            <div>
              <div class="cat-title"><a href="#">智能穿戴</a></div>
              <div class="cat-title"><a href="#">充电宝</a></div>
              <div class="cat-title"><a href="#">壳套配件</a></div>
              <div class="cat-title"><a href="#">蓝牙耳机</a></div>
              <div class="cat-title"><a href="#">无线键鼠套装</a></div>
            </div>
        </div>
        </div>   
</div>
</body>
</html>
