<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title></title>
	<link href="__PUBLIC__/pulish.css" rel="stylesheet">
  	<link href="__PUBLIC__/css/login.css" rel="stylesheet">
  	<script src="__PUBLIC__/jquery-1.7.2.min.js"></script>
  <style>
  	#pwd{
  		
  		background: url(__PUBLIC__/image/password.png) no-repeat right;
  	}
  	
  	#name{
  		background: url(__PUBLIC__/image/username.png) no-repeat right;
  	}
  	
  	li:last-child{
  		color: #696969;
  		
  	}
  	
  	li{
  		list-style: none;
  		margin: 20px 0;
  		
  	}
  	
  	.r{
  		text-align: right;
  		padding-right: 40px;
  	}
  	ul{
  		padding: 0px;
  		width: 310px;
  		margin: 0;
  	}
  	
  	.r input{
  		width: 180px;
  		margin: 0px;
  		padding: 0px;
  	}
  </style>
  <script>
  	$(function(){
  		$('#login').click(function(){
  			$('form:first').submit(function(){return false});
  			$.ajax({
						type:"post",
						url:"{:U('Home/User/login_handle')}",
						async:true,
						data:{
							name:$('#name').val(),/*用户字段*/
							pwd:$('#pwd').val()/*密码字段*/
						},
						success:function(msg){
							alert(msg);
							if('登陆成功'==msg){
								window.location="{:U('Home/Index/index')}";
							}
						}
					});
				
  		})
  	})
  </script>
 </head>
 <body align="center">
		<div id="top">
			<div id="topmain">
				<a href="../index.html"><img src="__PUBLIC__/image/23333.png" width : 170px height : 60px /></a>
			</div>
		</div>
		<div id="main">
				<div id="mainleft">
					<div id="left">
						<img src="__PUBLIC__/image/bg.jpg" />
					</div>
				</div>
				
				<div id="mainright">
						<form>
						<ul class="">
							<li class="r">用户名：<input type="text" class="txt" id='name'></li>
							<li class="r">密码：<input type="password" class="txt" id='pwd'></li>
							<li><input type="submit" class="butto" value="登录" id='login'></li>
							<li><input type="checkbox">记住用户名 没有账号？
								<font color="808080">|</font>
								<a href="{:U('Home/User/regedit')}" class='link_l'>立即注册</a></li>
						</ul>
						</form>


					
				</div>
				
		</div>
 </body>
 </html>