<extend name='./Public/tpl/index.html' />
<block name="head">
		<script>
			$(function(){

				$('#next').click(function(){
					
					if(!$('#name').val().length){
						
						alert('用户名不能为空');
						$('#name').focus();
						return 0;
					}
					
					if(!$('#pwd').val().length){
						alert('密码不能为空');
						$('#pwd').focus();
						return 0;
					}
					
					if(!$('input[name=check_pwd]').val().length){
						alert('请先确认密码');
						$('input[name=check_pwd]').focus();
						return 0;
					}
					
					if(!$('input[name=email').val().length){
						alert('请先填写邮箱');
						$('input[name=email').focus();
						return 0;
					}
					
					if(!chk_name()){
						$('#name').focus();
						return 0;
					}
					
					if(!chk_pwd()){
						$('#pwd').focus();
						return 0;
					}
					
					if(!chk_repwd()){

						$('input[name=check_pwd]').focus();
						return 0;
					}
					
					if(!chk_email()){
					 	$('input[name=email').focus();
					 	return 0;
					 }
					if(!chk_email()){
					 	$('input[name=email').focus();
					 	return 0;
					 }
					
					//ajax注册用户
					$.ajax({
						type:"post",
						url:"{:U('Home/User/regedit_handle')}",
						async:true,
						data:{
							name:$('#name').val(),/*用户字段*/
							pwd:$('#pwd').val(),/*密码字段*/
							email:$('input[name=email]').val(),/*邮箱字段*/
							city:$('#name').val(),/*城市字段*/
							province:$('#name').val(),/*省份字段*/
							token:$('#name').val()/*验证码字段*/
						},
						success:function(msg){
							alert(msg)
						}
					});
					//$('form:first').submit();
				})
				//英文字母，数字或者下划线，长度为4-16个字符
				$('#name').on('keyup change',function(){
					$('#msg_n').empty();
					if(!chk_name()){
						$('#name').after('<span id="msg_n">英文字母，数字或者下划线，长度为4-16个字符</span>');
						
					}
				})
				function chk_name(){
					var t=new RegExp('[a-z0-9_]{4,16}'),
					content=$('#name').val();
					return t.test(content);
				}
				
//				//6-16个字符的字母或者数字组成
				$('#pwd').on('keyup change',function(){
					$('#msg_p').empty();
					if(!chk_pwd()){
						$('#pwd').after('<span id="msg_p">6-16个字符的字母或者数字组成</span>');
					}
				})
				//密码检查
				function chk_pwd(){
					var t=new RegExp('[a-z0-9]{6,16}'),
					content=$('#pwd').val();
					return t.test(content);
				}
				
				
				//两次密码检查
				$('input[name=check_pwd]').on('keyup change',function(){
					$('#msg_ck').empty();
					
					if(!chk_repwd()){

						$('input[name=check_pwd]').after('<span id="msg_ck">两次输入密码不一致</span>');
					}
					
				})
				//两次密码检查
				function chk_repwd(){
					var content=$('input[name=pwd]').val(),
					check=$('input[name=check_pwd]');
					return content == check.val();
				}
				
				//邮箱验证
				$('input[name=email]').on('keyup change',function(){
					$('#msg_e').empty();

					 if(!chk_email()){
					 	$('input[name=email]').after('<span id="msg_e">邮箱格式错误</span>');
					 }
			
					
				})
				function chk_email(){
					var t= new RegExp("[a-z0-9_\.-]+@[\da-z\.-]+\.[a-z\.]{2,6}"),
					content=$('input[name=email]').val();
					return t.test(content);
				}

				
				
			})
		</script>
</block>
	<block name="body">
		<form method="post" action="{:U('Home/User/regedit_handle')}">
			用户名：<input name="name" id="name"/><br />
			密码：<input name="pwd" id="pwd"/><br />
			确认密码：<input name="check_pwd"/><br />
			邮箱：<input  name="email"/><br />
			出生日期：
			国家：
			省份:
			验证码：<input name="token"/><br />
			<input type="datetime" />
			<a id="next">立即注册</a>
		</form>
</block>
