<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link href="__PUBLIC__/pulish.css" rel="stylesheet">
		 <script src="__PUBLIC__/jquery-1.7.2.min.js"></script>
		<script>
			$(function(){
				$('#next').click(function(){
					$('form:first').submit();
				})
				//英文字母，数字或者下划线，长度为4-16个字符
				$('#name').focusout(function(){
					$('#msg_n').empty();
					var t=new RegExp('[a-z0-9_]{4,16}'),
					content=$('#name').val();
					if(!t.test(content)){
						$('#name').after('<span id="msg_n">英文字母，数字或者下划线，长度为4-16个字符</span>');
						
					}
					
					
				})
//				//6-16个字符的字母或者数字组成
				$('#pwd').focusout(function(){
					$('#msg_p').empty();
					var t=new RegExp('[a-z0-9]{6,16}'),
					content=$('#pwd').val();
					if(!t.test(content)){
						$('#pwd').after('<span id="msg_p">6-16个字符的字母或者数字组成</span>');
						
					}
				})
				
				//两次密码检查
				$('input[name=check_pwd]').focusout(function(){
					$('#msg_ck').empty();
					var content=$('input[name=pwd]').val(),
					check=$(this);
					if(content !== check.val()){
						check.after('<span id="msg_ck">两次输入密码不一致</span>');
					}
					
				})
				
				//邮箱验证
				$('input[name=email').focusout(function(){
					$('#msg_e').empty();
					var t= new RegExp("([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})"),
					content=$('input[name=email').val();
					
					 if(!t.test(content)){
					 	$('input[name=email').after('<span id="msg_e">邮箱格式错误</span>');
					 }
			
					
				})
				
				
				
			})
		</script>
	</head>
	<body>
		<form method="post" action="{:U('Home/User/regedit_handle')}">
			用户名：<input name="name" id="name"/><br />
			密码：<input name="pwd" id="pwd"/><br />
			确认密码：<input name="check_pwd"/><br />
			邮箱：<input  name="email"/><br />
			出生日期：
			国家：
			省份:
			验证码：<input name="token"/><br />
			<input type="datetime" />
			<a id="next">立即注册</a>
		</form>
	</body>
</html>
