body{
	background-color: #312843;
	padding: 0px;
	margin: 0px;
}

.game {
	position: relative;
	width: auto;
	height: 500px;
	background-color: #000000;
}
.shuoming {
	position: relative;
	width: auto;
	text-align: center;
	height: 100px;
	line-height: 90px;
	background-color: #555;
}
.shuoming input {
	border: 1px #00f solid;
	width: 100px;
	height: 30px;
	font-size: 20px;
	color: #fff;
	background-color: #00f;
}
.shuoming input:hover {
	cursor: pointer;
}
