body{
  width: 990px;
  margin: auto;
}

a {
  text-decoration:none; 
  color: #666;
} 

#head{
	height: 50px;
  background-color: #f66;
  border: 5px solid #000;
  text-align: center;
}

#container{
	height: 1000px;
  border-bottom: 1px solid #999;
  border-right: 1px solid #999;
  border-top: 1px solid #999;
  border-left: 1px solid #999;
  text-align: center;
}

#footer{
  position: relative;
  top: 0px;
	height: 50px;
  background-color: #09c;
  border: 5px solid #000;
  text-align: center;
}

#address{
  width: 990px;
  height: 50px;
  text-align: left;
  font: normal 10px "微软雅黑";
  color: #ccc;
}

#sign{
  width: 200px;
  height: 950px;
  position: relative;
  top: 0px;
  border-right: 1px solid #999;
  border-top: 1px solid #999;
}

#centre{
  width: 790px;
  height: 950px;
  position: absolute;
  left: 200px;
  top: 0px;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
}

.box0{
  position: relative;
  top: 0px;
  text-align: left;
  width: 200px;
  font: normal 14px "微软雅黑";
  color: #222;
  text-indent: 28px;
  line-height: 50px;
  height: 50px;
  background-color: #fcc;  
}

.box1{
  position: relative;
  top: 10px;
  left: 20px;
  text-align: left;
  width: 160px;
  font: normal 14px "微软雅黑";
  color: #036;
  border-bottom: 1px solid #999;
  text-indent: 8px;
  line-height: 35px;
  height: 35px;
}

.box2{
  position: relative;
  top: 10px;
  left: 20px;
  text-align: left;
  width: 160px;
  font: normal 14px "微软雅黑";
  color: #036;
  border-bottom: 1px solid #999;
  text-indent: 8px;
  line-height: 35px;
  height: 35px;
}

.box3{
  position: relative;
  top: 10px;
  left: 20px;
  text-align: left;
  width: 160px;
  font: normal 14px "微软雅黑";
  color: #036;
  border-bottom: 1px solid #999;
  text-indent: 8px;
  line-height: 35px;
  height: 35px;
}

.box4{
  position: relative;
  top: 10px;
  left: 20px;
  text-align: left;
  width: 160px;
  font: normal 14px "微软雅黑";
  color: #036;
  border-bottom: 1px solid #999;
  text-indent: 8px;
  line-height: 35px;
  height: 35px;
}