.abou {
	height: auto;
	width: 990px;
	margin: 0px auto;
}

.box1 a,.box2 a,.box3 a,.box4 a {
  text-decoration:none; 
  color: #666;
} 
.box1 a:hover,.box2 a:hover,.box3 a:hover,.box4 a:hover {
  color: #ff0000;
} 

#head{
	height: 50px;
  background-color: #f66;
  border: 5px solid #000;
  text-align: center;
}

#container{
height: 1150px;
  border: 1px solid #999;
  text-align: center;
}

#footer{
  position: relative;
  top: 0px;
	height: 50px;
  background-color: #09c;
  border: 5px solid #000;
  text-align: center;
}

#address{
  width: 990px;
  height: 50px;
  text-align: left;
  color: #ccc;
}

#sign{
  width: 200px;
  height: 1150px;
  position: relative;
  top: 0px;
  font-size: 14px;
  border-right: 1px solid #999;
  border-top: 1px solid #999;
}

#centre{
  width: 790px;
  height: 1150px;
  position: absolute;
  left: 200px;
  top: 0px;
  border-top: 1px solid #999;
}

.box0{
  position: relative;
  top: 0px;
  text-align: left;
  width: 200px;
  color: #222;
  text-indent: 28px;
  line-height: 50px;
  height: 50px;
  background-color: #fcc;  
}

.box1{
  position: relative;
  top: 10px;
  left: 20px;
  text-align: left;
  width: 160px;
  color: #036;
  border-bottom: 1px solid #999;
  text-indent: 8px;
  line-height: 35px;
  height: 35px;
}

.box2{
  position: relative;
  top: 10px;
  left: 20px;
  text-align: left;
  width: 160px;
  color: #036;
  border-bottom: 1px solid #999;
  text-indent: 8px;
  line-height: 35px;
  height: 35px;
}

.box3{
  position: relative;
  top: 10px;
  left: 20px;
  text-align: left;
  width: 160px;
  color: #036;
  border-bottom: 1px solid #999;
  text-indent: 8px;
  line-height: 35px;
  height: 35px;
}

.box4{
  position: relative;
  top: 10px;
  left: 20px;
  text-align: left;
  width: 160px;
  color: #036;
  border-bottom: 1px solid #999;
  text-indent: 8px;
  line-height: 35px;
  height: 35px;
}

.big_box {
	position: absolute;
	width: 200px;
	height: 200px;
	border: 1px solid;
	z-index: 1000;
	background: url(../../img/adv.png);
}
.big_box .close {
	float: right;
	top: 0px;
	width: 20px;
	height: 20px;
	right: 0px;
	z-index: 1000;
	background-color: #000;
	display: none;
}
.big_box:hover {
	cursor: pointer;
}
.big_box .but {
	float: right;
	top: 0px;
	width: 200px;
	height: 180px;
}