body{
	width: 760px;
	height: 1200px;
	margin: auto;
	
}

#head{
    line-height: 40px;
    height: 40px;
    text-align: left;
    text-indent: 20px;
    border-bottom: 1px solid #999;
    font: bold 20px "微软雅黑";
    color: #888;
    padding-top: 10px;
}

#container{
	/*text-align: left;*/
	line-height: 50px;
	text-indent: 50px;
	font: normal 14px "微软雅黑";
	color: #888;
	padding-top: 20px	
}

.s16{
	font-size: 16px;
	font-weight: bold;
}

.hot{
	color: #f00;
}

ul{
	list-style: none;
}

p{
	line-height: 20px;
	list-style-position: outside; 
}

.Top-list{
	width: 308px;
	text-align: left;
	padding: 7px;
}
.num-top{
	line-height: 20px;
	width: 20px;
	display: inline-block;
	text-align: center;
}
.item-hd{
	border-bottom: 1px solid #ccc;
}
.item-bd{
	overflow: hidden;
	background: #FCFCFD;
}
.item-info{
	font-size: 12px;
	color: #4D4D4D;
	line-height: 20px;
}
.Top-list a{
	color: #4D4D4D;
}
.item-info img{
	float: left;
	margin-right: 10px;
}