
a {
	text-decoration: none;
}

.tToolbar{
			background-color: #F1F1F1;
			height: 30px;
			line-height: 30px;

		}
		
.header {
	position: relative;
	border: 0px #00f solid;
	width: 990px;
	height: 70px;
	margin: 0px auto;
	top: 10px;
}
.logo {
	float: left;
	border: 0px #00f solid;
	margin-top: 5px;
	width: 280px;
	height: 60px;
	margin-left: 2px;
}

.logo img {
	border: 0px;
}

.logo .link2 {
	float: right;
	right: 0px;
	/*background-color: #31B0D5;*/
	width: 90px;
	height: 60px;
	font-size: 25px;
	text-align: center;
	line-height: 60px;
}

.search{
	margin-top: 18px;
	float: right;
}
#searchtext{
	display: inline;
	height: 28px;
	width: 274px;
	border:2px solid #B61D1D;
	font-size:18px;
	float: left;
	padding-left: 4px;
}
.search button{
	height: 34px;
	width: 60px;
	border:2px solid #B61D1D;
	background: #B61D1D;
	color: white;
	font-size: 15px;
	margin-right: 3px;
}
.min {
	position: relative;
	background-image: url(../../img/Shopping_bg.png);
	top: 10px;
	margin: 0px auto;
	border: 0px #00f solid;
	width: 990px;
	height: 400px;
	text-align: left;
	font-size: 15px;
}

.min .show_text {
	position: relative;
	top: 175px;
	width: 300px;
	height: auto;
	margin: 0px auto;
	border: 0px #00f solid;
}

.show_text a {
	color: #00f;
	font-size: 12px;
}
.show_text a:hover {
	color: #ff0000;
	text-decoration: underline;
}

.mid_top {
	position: relative;
	top: 15px;
	margin: 0px auto;
	border: 0px #00f solid;
	width: 990px;
	height: 40px;
	font-size: 18px;
	color: #FF0000;
}

.all_shop {
	border-bottom: 2px #FF0000 solid;
	width: 112px;
	height: auto;
	padding-top: 12px;
	padding-bottom: 8px;
}

.mid2 {
	position: relative;
	margin: 20px auto 0px;
	width: 990px;
	height: 40px;
	border-color: #E9E9E9;
	border-style: none solid solid;
	border-width: 0px 1px 1px;
	background: #F3F3F3;
	font-size: 12px;
	color: #666;
}

.mid2 .m_checkbox {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 122px;
	height: 18px;
	line-height: 18px;
	padding-top: 10px;
	padding-left: 10px;
	border: 0px #00f solid;
}

.mid2 .m_goods {
	position: absolute;
	display: inline-block;
	width: 280px;
	height: 28px;
	left: 133px;
	top: 0px;
	border: 0px #00f solid;
	line-height: 38px;
}
.mid2 .m_props {
	position: absolute;
	display: inline-block;
	width: 100px;
	height: 28px;
	left: 414px;
	top: 0px;
	border: 0px #00f solid;
}
.mid2 .m_price {
	position: absolute;
	display: inline-block;
	width: 100px;
	height: 28px;
	left: 515px;
	top: 0px;
	border: 0px #00f solid;
	text-align: right;
	line-height: 38px;
}
.mid2 .m_quantity {
	position: absolute;
	display: inline-block;
	width: 120px;
	height: 28px;
	left: 616px;
	top: 0px;
	border: 0px #00f solid;
	text-align: center;
	line-height: 38px;
}
.mid2 .m_sum {
	position: absolute;
	display: inline-block;
	width: 120px;
	height: 28px;
	left: 737px;
	top: 0px;
	border: 0px #00f solid;
	text-align: right;
	line-height: 38px;
}
.mid2 .m_action {
	position: absolute;
	display: inline-block;
	width: 100px;
	height: 28px;
	left: 858px;
	top: 0px;
	border: 0px #00f solid;
	text-align: center;
	line-height: 38px;
}

.m_checkbox .che {
	position: relative;
	float: left;
	margin-right: 5px;
}

.mid_main {
	position: relative;
	margin: 0px auto;
	margin-top: 10px;
	border-top: 2px #aaa solid;
	width: 990px;
	height: 100px;
	background-color: #fff4e8;
}

.mid_main .g_checkbox {
	position: absolute;
	top: 38px;
	left: 8px;
	width: 15px;
	height: 30px;
	border: 0px #00f solid;
}
.mid_main .g_img {
	position: absolute;
	width: 85px;
	height: 85px;
	top: 6px;
	left: 36px;
	border: 0px #00f solid;
}
.mid_main .g_name {
	position: absolute;
	width: 280px;
	height: 85px;
	left: 133px;
	top: 6px;
	font-size: 15px;
	line-height: 35px;
	border: 0px #00f solid;
	
}
.mid_main .g_price {
	position: absolute;
	width: 100px;
	height: 85px;
	left: 515px;
	top: 6px;
	font-size: 15px;
	line-height: 35px;
	text-align: right;
	border: 0px #00f solid;
}
.mid_main .g_quantity {
	position: absolute;
	width: 120px;
	height: 85px;
	left: 616px;
	top: 6px;
	font-size: 15px;
	text-align: center;
	border: 0px #00f solid;
}
.g_quantity .g_add {
	position: absolute;
	width: 80px;
	height: 18px;
	left: 20px;
	top: 8px;
	font-size: 15px;
	border: 0px #00f solid;
}
.g_add .go_add_re {
	position: relative;
	float: left;
	width: 18px;
	height: 18px;
	border: 1px #666 solid;
	color: #666;
	background-color: #fff;
}
.g_add .go_text {
	position: relative;
	float: left;
	width: 34px;
	height: 16px;
	font-size: 15px;
	border-top: 1px #666 solid;
	border-bottom: 1px #666 solid;
	border-left: 0px;
	border-right: 0px;
	text-align: center;
}
.mid_main .g_sum {
	position: absolute;
	width: 120px;
	height: 85px;
	left: 737px;
	top: 6px;
	font-size: 15px;
	text-align: right;
	line-height: 35px;
	border: 0px #00f solid;
}
.mid_main .g_action {
	position: absolute;
	width: 100px;
	height: 85px;
	left: 858px;
	top: 6px;
	font-size: 12px;
	text-align: center;
	line-height: 35px;
	color: #666;
	border: 0px #00f solid;
}

.mid_buttom {
	position: relative;
	border: 1px #f0f0f0 solid;
	margin: 0px auto;
	width: 990px;
	height: 50px;
	top: 15px;
	font-size: 13px;
	color: #666;
}

.mid_buttom .m_checkbox{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 60px;
	height: 18px;
	line-height: 18px;
	padding-top: 17px;
	padding-left: 10px;
	border: 0px #00f solid;
}
.mid_buttom .deleGood {
	position: absolute;
	display: inline-block;
	left: 90px;
	top: 18px;
	width: 300px;
	height: 20px;
	border: 0px #00f solid;
}
.deleGood a, .g_action a {
	color: #666;
}
.deleGood a:hover, .g_action a:hover {
	color: #ff0000;
}

.mid_buttom .account_button {
	position: absolute;
	display: inline-block;
	top: 0px;
	right: 0px;
	width: 90px;
	height: 50px;
	background-color: #f72f2f;
	text-align: center;
	font-size: 22px;
	line-height: 50px;
}
.account_button a {
	color: #fff;
}

.mid_buttom .acc_text {
	position: absolute;
	display: inline-block;
	top: 0px;
	right: 110px;
	width: 400px;
	height: 50px;
	/*background-color: #31B0D5;*/
	text-align: right;
	font-size: 13px;
	line-height: 50px;
}

.buttom {
	position: relative;
	border: 1px #00f solid;
	margin: 0px auto;
	width: 990px;
	height: 100px;
	top: 28px;
}

