<!DOCTYPE html>
<html>
<head>
<link href="../../../../Public/css/AboutUs.css" rel="stylesheet">
<title>关于我们</title>
</head>
<body>
    <div id="head">顶部咯</div>
    <div id="container">
        <div id="address">
            <br>
        	&nbsp;&nbsp;<a href="index.html">首页</a>&nbsp;>&nbsp;<a href="AboutUs.html">关于我们</a>
        </div>
    	<div id="sign">
    	    <div class="box0">关于我们</div>
    	    <div class="box1"><a href="介绍.html" target="text">关于商城</a></div>
    	    <div class="box2"><a href="介绍.html" target="text">关于老板少雄</a></div>
    	    <div class="box3"><a href="介绍.html" target="text">关于老板晓熳</a></div>
    	    <div class="box4"><a href="介绍.html" target="text">关于老板江旭</a></div>
    		<div id="centre">
    			<iframe name="text" width="790" height="1000" frameborder="0px"></iframe>
    		</div>
    	</div>
    	
    </div>
    <div id="footer">脚注咯</div>
</body>
</html>
