<extend name='./Public/tpl/index.html' />
<block name="head">

		<title>卖家店铺</title>
	</head>
	
	<style type="text/css">
		.se_top {
			position: relative;
			width: 990px;
			height: 300px;
			border: 0px solid;
			margin: 0px auto;
			background-color: #6a45ef;
		}
		.se_mid {
			position: relative;
			width: 990px;
			height: 50px;
			margin: 0px auto;
			border: 0px solid;
			background-image: url(__PUBLIC__/img/spzs.png);
		}
		.se_bot {
			position: relative;
			width: 990px;
			height: auto;
			margin: 0px auto;
			border: 0px #00f dashed;
		}
		.se_bot .se_box {
			position: relative;
			float: left;
			width: 990px;
			height: auto;
			left: -3px;
			margin: 0px auto;
			font-size: 15px;
			text-align: center;
			border: 3px #f6e2f9 dashed;
			
		}
		.se_box .first {
			position: relative;
			margin-left: 6px;
			margin-right: 6px;
			float: left;
			width: 235px;
			height: 295px;
			border: 0px solid;
		}
		.first .good_tup {
			position: relative;
			width: 200px;
			height: 200px;
			margin: 5px auto;
			margin-bottom: 0px;
			border: 0px solid;
		}
		.first .good_href {
			position: relative;
			top: 5px;
			width: 200px;
			height: 50px;
			margin: 0px auto;
			border: 0px solid;
		}
		.first .good_pric {
			position: relative;
			top: 3px;
			width: 200px;
			height: 28px;
			color: #ff0000;
			line-height: 28px;
			margin: 0px 5px;
			border: 0px solid;
			font-size: 20px;
		}
		.se_mess {
			position: relative;
			width: 990px;
			height: 300px;
			margin: 5px auto;
			border: 0px solid;
		}
		.se_top_mes {
			position: relative;
			width: 990px;
			height: 30px;
			line-height: 40px;
			font-size: 15px;
			padding-left: 10px;
			margin: 25px auto;
			margin-bottom: 5px;
			border-bottom: 1px dashed;
		}
		a {
			color: #666;
			text-decoration: none;
		}
		a:hover {
			color: #ff0000;
		}
		.se_mess .messtop {
			position: relative;
			width: 990px;
			height: 145px;
			background-image: url(__PUBLIC__/img/welcome.png);
		}
		.se_mess .messbut {
			position: relative;
			width: 990px;
			height: 155px;
			border: 0px solid;
		}
		.messbut .zheng,.messbut .shi,.messbut .cheng,.messbut .qi {
			position: absolute;
			width: 180px;
			height: 125px;
			text-align: right;
			font-size: 20px;
			line-height: 115px;
			top: 15px;
			left: 10px;
			border: 0px solid;
		}
		.messbut .shi {
			left: 245px;
		}
		.messbut .cheng {
			left: 480px;
		}
		.messbut .qi {
			width: 240px;
			left: 715px;
		}
		.zheng .zheng_img {
			position: absolute;
			width: 49px;
			height: 49px;
			top: 30px;
			left: 25px;
			background-image: url("__PUBLIC__/img/zheng.png");
			transition: all 0.5s ease 0s;
		}
		.shi .shi_img {
			position: absolute;
			width: 49px;
			height: 49px;
			top: 30px;
			left: 25px;
			border: 0px solid;
			background-image: url("__PUBLIC__/img/shi.png");
			transition: all 0.5s ease 0s;
		}
		.cheng .cheng_img {
			position: absolute;
			width: 49px;
			height: 49px;
			top: 30px;
			left: 25px;
			border: 0px solid;
			background-image: url("__PUBLIC__/img/cheng.png");
			transition: all 0.5s ease 0s;
		}
		.qi .qi_img {
			position: absolute;
			width: 49px;
			height: 49px;
			top: 30px;
			left: 25px;
			border: 0px solid;
			background-image: url("__PUBLIC__/img/qi.png");
			transition: all 0.5s ease 0s;
		}
		.zheng_img:hover,.shi_img:hover,.cheng_img:hover,.qi_img:hover {
			transform:rotate(720deg);
		}
	</style>
</block>
<block name="body">
		<div class="se_top_mes">
			店铺 ：<a href="">xxxxxxxx</a>&nbsp;
			<img src="__PUBLIC__/image/password.png" />
			<img src="__PUBLIC__/image/password.png" />&nbsp;&nbsp;&nbsp;&nbsp;
			<img src="__PUBLIC__/img/flower.png" />
			[&nbsp;描述：<span style="color: #ff0000;">4.8</span>
			 &nbsp;服务：<span style="color: #ff0000;">4.8</span>
			 &nbsp;物流：<span style="color: #ff0000;">4.8</span> ]
		</div>
		<div class="se_top">
			<img src="__PUBLIC__/img/seller_good.png" width="990px" height="300px"/>
		</div>
		<div class="se_mid">
		</div>
		<div class="se_bot">
			<div class="se_box">
			<!--商品展示-->
				<div class="first">
					<a href="">
						<div class="good_tup">
							<img src="__PUBLIC__/img/good_img.png" style="border: 0px;"/>
						</div>
						<div class="good_href">商品链接商品链接<br />商品链接
						</div>
					</a>
					<div class="good_pric">
						<span style="font-size: 25px;">￥</span>10.00
					</div>
				</div>
			<!--结束-->
			</div>
		</div>
		<div style="clear:both; height:0;"></div>
		<div class="se_mess">
			<div class="messtop"></div>
			<div class="messbut">
				<b>
					<div class="zheng">
						<div class="zheng_img"></div>
							正品保障
					</div>
					<div class="shi">
						<div class="shi_img"></div>
							如实描述
					</div>
					<div class="cheng">
						<div class="cheng_img"></div>
							诚信服务
					</div>
					<div class="qi">
						<div class="qi_img"></div>
							七天无理由退换
					</div>
				</b>
			</div>
		</div>
</block>
