<extend name='./Public/tpl/index.html' />
<block name="head">
<title>关于我们</title>
<link href="__PUBLIC__/css/AboutUs/AboutUs.css" rel="stylesheet">
</block>
<block name="body">
	<div class="abou">
    <div id="container">
    	<div id="sign">
    	    <div class="box0">关于我们</div>
    	    <div class="box1"><a href="{:U('Home/Index/cul')}" target="text">企业文化</a></div>
    	    <div class="box2"><a href="{:U('Home/Index/mod')}" target="text">经营模式</a></div>
    	    <div class="box3"><a href="{:U('Home/Index/comn')}" target="text">公司使命</a></div>
    	    <div class="box4"><a href="{:U('Home/Index/soc')}" target="text">社会责任</a></div>
    		<div id="centre">
    			<iframe name="text" width="780" height="1200" style="border: 0px;" src="{:U('Home/Index/cul')}"></iframe>
    		</div>
    	</div>
    	
    </div>
    </div>

		<div class="big_box" id="floatdiv" onmouseenter="mousein()" onmouseleave="mouseout()">
			<div id="close" class="close">
				<img src="__PUBLIC__/img/close.png" onclick="close_adv()"/>
			</div>
			<a href="../Game/index.html" target="_blank">
			<div class="but">
			</div>
			</a>
		</div>
    
<script>
	var mousein = function(){
		var ida = document.getElementById("close");
		ida.style.display="block";
		pause_resume();
	}
	var mouseout = function(){
		var ida = document.getElementById("close");
		ida.style.display="none";
		pause_resume();
	}

	var xPos = 20;
	var yPos = 20;
	var step = 1;
	var delay = 30;
	var height = 0;
	var Hoffset = 0;
	var Woffset = 0;
	var yon = 0;
	var xon = 0;
	var pause = true;
	var interval;
	floatdiv.style.top = yPos;
	function changePos() {
		width = document.body.clientWidth;
		height = document.body.clientHeight;
		Hoffset = floatdiv.offsetHeight;
		Woffset = floatdiv.offsetWidth;
		floatdiv.style.left = xPos  + "px";
		floatdiv.style.top = yPos  + "px";
		if(yon){
			yPos = yPos + step;
		}else{
			yPos = yPos - step;
		}
		if (yPos<0){
			yon = 1;
			yPos = 0;
		}
		if (yPos >= (height - Hoffset)) {
			yon = 0;
			yPos = (height - Hoffset);
		}
		if (xon) {
			xPos = xPos + step;
		}else{
			xPos = xPos - step;
		}
		if (xPos < 0) {
			xon = 1;
			xPos = 0;
			}
		if (xPos >= (width - Woffset)) {
			xon = 0;
				xPos = (width - Woffset);
		}
	}
	function start() {
		floatdiv.visibility = 'visible';
		interval = setInterval('changePos()', delay);
	}
	function pause_resume() {
		if(pause) {
			clearInterval(interval);
			pause = false;
		}else{
			interval = setInterval('changePos()',delay);
			pause = true;
		}
	}
	start();
	  
	var close_adv = function()
	{
		clearInterval(interval);
		pause = false;
		floatdiv.style.index = 0;
		var id = document.getElementById("floatdiv");
		id.style.display = "none";
	}
</script>
</block>