<!DOCTYPE html>
<html>
<head>
<link href="__PUBLIC__/css/AboutUs/jieshao.css" rel="stylesheet">

<script src="__PUBLIC__/jquery-1.7.2.min.js"></script>
	<script type="text/javascript">
			$(function(){
				$(".item-list li").hover(function(){
					$(this).find(".item-hd").hide();
					$(this).find(".item-bd").show();
					$(this).siblings().find(".item-bd").hide();
				},function(){
					$(this).find(".item-hd").show();
					$(this).find(".item-bd").hide();
				})
			});
	</script>
<title>关于我们</title>
</head>
<body>
    <div id="head">公司使命</div>
    <div id="container">
<p>&nbsp;&nbsp;&nbsp;&nbsp;当当网一直致力于在企业创造利润、对股东承担法律责任的同时，还承担对员工、消费者、社区和环境的责任。企业的社会责任要求企业必须超越把利润作为唯一目标的传统理念，强调要在生产过程中对人的价值的关注，强调对消费者、对环境、对社会的贡献，为此我们开展一系列公益活动，回报社会。</p>
</div>
<div class="Top-list">
	<ul class="item-list">
				<li class="current">
					<div class="item-hd">
						<span class="num-top">1</span>
						<a href="">公司使命</a>									
					</div>
					<div class="item-bd" style="display: none; height: 122px;">
						<div class="item-info">
							<a target="_blank" class="item-img" href="#">
								<img src="__PUBLIC__/img/cheng.png" style="width: 110px; ">
							</a>
							<p class="item-text">
								<a target="_blank"  style="" href="#">2014年11月20日， 东风标致308S亮相2014广州车展，正式公布其动力总成，同时宣告将以“超级智能运动型车”的产品定位登陆国内市场。在细分领域，东风标致308S集东风标致动力总成、智能…
								</a>
							</p>
						</div>
					</div>
				</li>
				<li class="">
					<div class="item-hd">
						<span class="num-top">2</span>
						<a target="_blank" title="五菱宏光" class="list-title" href="#">公司使命</a>						
					</div>
					<div class="item-bd" style="display: none;">
						<div class="item-info">
							<a target="_blank" class="item-img" href="#">
								<img  style="width: 110px; " src="__PUBLIC__/img/qi.png" >
							</a>
							<p class="item-text">
								<a target="_blank"  style="" href="#">五菱宏光是上汽通用五菱推出的第一款介于商用车和乘用车的跨界自主研发产品，以流畅的外形设计，多样化、实用性的宽敞驾乘空间，动力性和经济性的完美平衡，以及在操…
								</a>
							</p>
						</div>
					</div>
				</li>
				<li class="">
					<div class="item-hd">
						<span class="num-top">3</span>
						<a target="_blank" title="五菱宏光" class="list-title" href="#">公司使命</a>						
					</div>
					<div class="item-bd" style="display: none;">
						<div class="item-info">
							<a target="_blank" class="item-img" href="#">
								<img style="width: 110px; " src="__PUBLIC__/img/cheng.png">
							</a>
							<p class="item-text">
								<a target="_blank"  style="" href="#">五菱宏光是上汽通用五菱推出的第一款介于商用车和乘用车的跨界自主研发产品，以流畅的外形设计，多样化、实用性的宽敞驾乘空间，动力性和经济性的完美平衡，以及在操…
								</a>
							</p>
						</div>
					</div>
				</li>
				<li class="">
					<div class="item-hd">
						<span class="num-top">4</span>
						<a target="_blank" title="五菱宏光" class="list-title" href="#">公司使命</a>						
					</div>
					<div class="item-bd" style="display: none;">
						<div class="item-info">
							<a target="_blank" class="item-img" href="#">
								<img src="__PUBLIC__/img/cheng.png" style="width: 110px; ">
							</a>
							<p class="item-text">
								<a target="_blank"  style="" href="#">五菱宏光是上汽通用五菱推出的第一款介于商用车和乘用车的跨界自主研发产品，以流畅的外形设计，多样化、实用性的宽敞驾乘空间，动力性和经济性的完美平衡，以及在操…
								</a>
							</p>
						</div>
					</div>
				</li>

			</ul>
</div>
</body>
</html>
