<!DOCTYPE html>
<html>
<head>
<link href="__PUBLIC__/css/AboutUs/jieshao.css" rel="stylesheet">
<title>关于我们</title>
</head>
<body>
    <div id="head">经营模式</div>
    <div id="container">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;互联网提供了可以无限伸展的展示空间，可以容纳无限的商品或图样以及内容。在当当网，消费者无论是购物还是查询，都不受时间和地域的任何限制。在消费者享受“鼠标轻轻一点，精品尽在眼前”的背后，是当当网耗时11年修建的“水泥支持”——庞大的物流体系，位于六个城市的十大物流中心，全国库房面积达到18万平方米，成为国内库房面积最大的电子商务企业，提供货到付款服务的城市超过750个，并为联营商户开通COD服务。</p>
        <p class="last">&nbsp;&nbsp;&nbsp;&nbsp;当当网也推动了银行网上支付服务、邮政、速递等服务行业的迅速发展。以图书为例，在为消费者服务的同时，当当网还帮助出版社提高了单本书的销量、并有效地延长了出版物的寿命。当当网不受上架周期的和顾客地域性偏好的限制，为出版社尤其是专业、学术出版社提供了窗口支持和读者，使知识的传播变得更加有效。 </p>
    </div>
</body>
</html>
